<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.basicdata.mapper.BanQinCdRulePaDetailMapper">
    
	<sql id="banQinCdRulePaDetailColumns">
		a.id AS "id",
		a.rule_code AS "ruleCode",
		a.line_no AS "lineNo",
		a.main_code AS "mainCode",
		a.is_enable AS "isEnable",
		a.fm_loc AS "fmLoc",
		a.to_zone AS "toZone",
		a.to_loc AS "toLoc",
		a.is_package_restrict AS "isPackageRestrict",
		a.is_less_cs AS "isLessCs",
		a.is_more_cs_less_pl AS "isMoreCsLessPl",
		a.is_more_pl AS "isMorePl",
		a.is_asn_type_restrict AS "isAsnTypeRestrict",
		a.include_asn_type AS "includeAsnType",
		a.exclude_asn_type AS "excludeAsnType",
		a.is_lot_att_restrict AS "isLotAttRestrict",
		a.lot_att04_equal AS "lotAtt04Equal",
		a.lot_att04_unequal AS "lotAtt04Unequal",
		a.lot_att05_equal AS "lotAtt05Equal",
		a.lot_att05_unequal AS "lotAtt05Unequal",
		a.is_use_type_restrict AS "isUseTypeRestrict",
		a.include_use_type AS "includeUseType",
		a.exclude_use_type AS "excludeUseType",
		a.is_space_restrict AS "isSpaceRestrict",
		a.is_pl_restrict AS "isPlRestrict",
		a.is_cubic_restrict AS "isCubicRestrict",
		a.is_weight_restrict AS "isWeightRestrict",
		a.is_category_restrict AS "isCategoryRestrict",
		a.include_category AS "includeCategory",
		a.exclude_category AS "excludeCategory",
		a.is_abc_restrict AS "isAbcRestrict",
		a.include_abc AS "includeAbc",
		a.exclude_abc AS "excludeAbc",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId",
		a.header_id AS "headerId"
	</sql>
	
	<sql id="banQinCdRulePaDetailJoins">
		
	</sql>

	<select id="get" resultType="BanQinCdRulePaDetail" >
		SELECT 
			<include refid="banQinCdRulePaDetailColumns"/>
		FROM cd_rule_pa_detail a
		<include refid="banQinCdRulePaDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinCdRulePaDetail" >
		SELECT 
			<include refid="banQinCdRulePaDetailColumns"/>
		FROM cd_rule_pa_detail a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
            ${dataScope}
            <if test="ruleCode != null and ruleCode != ''">
                AND a.rule_code = #{ruleCode}
            </if>
            <if test="headerId != null and headerId != ''">
                AND a.header_id = #{headerId}
            </if>
        </where>
        <include refid="banQinCdRulePaDetailJoins"/>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.line_no
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BanQinCdRulePaDetail" >
		SELECT 
			<include refid="banQinCdRulePaDetailColumns"/>
		FROM cd_rule_pa_detail a
		<include refid="banQinCdRulePaDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cd_rule_pa_detail(
			id,
			rule_code,
			line_no,
			main_code,
			is_enable,
			fm_loc,
			to_zone,
			to_loc,
			is_package_restrict,
			is_less_cs,
			is_more_cs_less_pl,
			is_more_pl,
			is_asn_type_restrict,
			include_asn_type,
			exclude_asn_type,
			is_lot_att_restrict,
			lot_att04_equal,
			lot_att04_unequal,
			lot_att05_equal,
			lot_att05_unequal,
			is_use_type_restrict,
			include_use_type,
			exclude_use_type,
			is_space_restrict,
			is_pl_restrict,
			is_cubic_restrict,
			is_weight_restrict,
			is_category_restrict,
			include_category,
			exclude_category,
			is_abc_restrict,
			include_abc,
			exclude_abc,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id,
			header_id
		) VALUES (
			#{id},
			#{ruleCode},
			#{lineNo},
			#{mainCode},
			#{isEnable},
			#{fmLoc},
			#{toZone},
			#{toLoc},
			#{isPackageRestrict},
			#{isLessCs},
			#{isMoreCsLessPl},
			#{isMorePl},
			#{isAsnTypeRestrict},
			#{includeAsnType},
			#{excludeAsnType},
			#{isLotAttRestrict},
			#{lotAtt04Equal},
			#{lotAtt04Unequal},
			#{lotAtt05Equal},
			#{lotAtt05Unequal},
			#{isUseTypeRestrict},
			#{includeUseType},
			#{excludeUseType},
			#{isSpaceRestrict},
			#{isPlRestrict},
			#{isCubicRestrict},
			#{isWeightRestrict},
			#{isCategoryRestrict},
			#{includeCategory},
			#{excludeCategory},
			#{isAbcRestrict},
			#{includeAbc},
			#{excludeAbc},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId},
			#{headerId}
		)
	</insert>
	
	<update id="update">
		UPDATE cd_rule_pa_detail SET 	
			rule_code = #{ruleCode},
			line_no = #{lineNo},
			main_code = #{mainCode},
			is_enable = #{isEnable},
			fm_loc = #{fmLoc},
			to_zone = #{toZone},
			to_loc = #{toLoc},
			is_package_restrict = #{isPackageRestrict},
			is_less_cs = #{isLessCs},
			is_more_cs_less_pl = #{isMoreCsLessPl},
			is_more_pl = #{isMorePl},
			is_asn_type_restrict = #{isAsnTypeRestrict},
			include_asn_type = #{includeAsnType},
			exclude_asn_type = #{excludeAsnType},
			is_lot_att_restrict = #{isLotAttRestrict},
			lot_att04_equal = #{lotAtt04Equal},
			lot_att04_unequal = #{lotAtt04Unequal},
			lot_att05_equal = #{lotAtt05Equal},
			lot_att05_unequal = #{lotAtt05Unequal},
			is_use_type_restrict = #{isUseTypeRestrict},
			include_use_type = #{includeUseType},
			exclude_use_type = #{excludeUseType},
			is_space_restrict = #{isSpaceRestrict},
			is_pl_restrict = #{isPlRestrict},
			is_cubic_restrict = #{isCubicRestrict},
			is_weight_restrict = #{isWeightRestrict},
			is_category_restrict = #{isCategoryRestrict},
			include_category = #{includeCategory},
			exclude_category = #{excludeCategory},
			is_abc_restrict = #{isAbcRestrict},
			include_abc = #{includeAbc},
			exclude_abc = #{excludeAbc},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			org_id = #{orgId},
			header_id = #{headerId}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cd_rule_pa_detail SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM cd_rule_pa_detail WHERE id = #{id}
	</delete>
    <delete id="deleteByHeaderId">
        DELETE FROM cd_rule_pa_detail WHERE header_id = #{headerId}
    </delete>
    <delete id="remove">
		DELETE crpd
		FROM cd_rule_pa_detail crpd
			INNER JOIN cd_rule_pa_header crph ON crph.id = crpd.header_id
		WHERE crph.rule_code = #{ruleCode}
		  AND crph.org_id = #{orgId}
	</delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinCdRulePaDetail" statementType="STATEMENT">
		SELECT * FROM cd_rule_pa_detail WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>