<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.basicdata.mapper.BanQinCdRuleQcDetailMapper">
    
	<sql id="banQinCdRuleQcDetailColumns">
		a.id AS "id",
		a.rule_code AS "ruleCode",
		a.line_no AS "lineNo",
		a.fm_rate AS "fmRate",
		a.to_rate AS "toRate",
		a.qc_suggest AS "qcSuggest",
		a.remarks AS "remarks",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId",
		a.header_id AS "headerId"
	</sql>
	
	<sql id="banQinCdRuleQcDetailJoins">
		
	</sql>

    <select id="get" resultType="BanQinCdRuleQcDetail" >
		SELECT 
			<include refid="banQinCdRuleQcDetailColumns"/>
		FROM cd_rule_qc_detail a
		<include refid="banQinCdRuleQcDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinCdRuleQcDetail" >
		SELECT 
			<include refid="banQinCdRuleQcDetailColumns"/>
		FROM cd_rule_qc_detail a
		<include refid="banQinCdRuleQcDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
			${dataScope}
            <if test="ruleCode != null and ruleCode != ''">
                AND a.rule_code = #{ruleCode}
            </if>
            <if test="headerId != null and headerId != ''">
                AND a.header_id = #{headerId}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.line_no
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BanQinCdRuleQcDetail" >
		SELECT 
			<include refid="banQinCdRuleQcDetailColumns"/>
		FROM cd_rule_qc_detail a
		<include refid="banQinCdRuleQcDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cd_rule_qc_detail(
			id,
			rule_code,
			line_no,
			fm_rate,
			to_rate,
			qc_suggest,
			remarks,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id,
			header_id
		) VALUES (
			#{id},
			#{ruleCode},
			#{lineNo},
			#{fmRate},
			#{toRate},
			#{qcSuggest},
			#{remarks},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId},
			#{headerId}
		)
	</insert>
	
	<update id="update">
		UPDATE cd_rule_qc_detail SET 	
			rule_code = #{ruleCode},
			line_no = #{lineNo},
			fm_rate = #{fmRate},
			to_rate = #{toRate},
			qc_suggest = #{qcSuggest},
			remarks = #{remarks},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			header_id = #{headerId}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cd_rule_qc_detail SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM cd_rule_qc_detail
		WHERE id = #{id}
	</delete>
    <delete id="deleteByHeaderId">
        DELETE FROM cd_rule_qc_detail WHERE header_id = #{headerId}
    </delete>
	<delete id="remove">
		DELETE FROM cd_rule_qc_detail WHERE rule_code = #{ruleCode} AND org_id = #{orgId}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinCdRuleQcDetail" statementType="STATEMENT">
		SELECT * FROM cd_rule_qc_detail WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>