<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.basicdata.mapper.BanQinCdWhLocMapper">
    
	<sql id="banQinCdWhLocColumns">
		a.id AS "id",
		a.loc_code AS "locCode",
		a.zone_code AS "zoneCode",
		a.status AS "status",
		a.is_enable AS "isEnable",
		a.category AS "category",
		a.loc_use_type AS "locUseType",
		a.pa_seq AS "paSeq",
		a.pk_seq AS "pkSeq",
		a.abc AS "abc",
		a.length AS "length",
		a.width AS "width",
		a.height AS "height",
		a.lane AS "lane",
		a.seq AS "seq",
		a.floor AS "floor",
		a.loc_group AS "locGroup",
		a.is_mix_sku AS "isMixSku",
		a.max_mix_sku AS "maxMixSku",
		a.is_mix_lot AS "isMixLot",
		a.max_mix_lot AS "maxMixLot",
		a.is_lose_id AS "isLoseId",
		a.max_weight AS "maxWeight",
		a.max_cubic AS "maxCubic",
		a.max_pl AS "maxPl",
		a.x AS "x",
		a.y AS "y",
		a.z AS "z",
		a.def1 AS "def1",
		a.def2 AS "def2",
		a.def3 AS "def3",
		a.def4 AS "def4",
		a.def5 AS "def5",
		a.def6 AS "def6",
		a.def7 AS "def7",
		a.def8 AS "def8",
		a.def9 AS "def9",
		a.def10 AS "def10",
		a.remarks AS "remarks",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId",
		z.zone_name AS "zoneName"
	</sql>
	
	<sql id="banQinCdWhLocJoins">
		LEFT JOIN cd_wh_zone z ON a.zone_code = z.zone_code AND a.org_id = z.org_id
	</sql>

    <select id="get" resultType="BanQinCdWhLoc" >
		SELECT 
			<include refid="banQinCdWhLocColumns"/>
		FROM cd_wh_loc a
		<include refid="banQinCdWhLocJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinCdWhLoc" >
		SELECT 
			<include refid="banQinCdWhLocColumns"/>
		FROM cd_wh_loc a
		<include refid="banQinCdWhLocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
			${dataScope}
			<if test="locCode != null and locCode != ''">
				AND a.loc_code = #{locCode}
			</if>
			<if test="zoneCode != null and zoneCode != ''">
				AND a.zone_code = #{zoneCode}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="isEnable != null and isEnable != ''">
				AND a.is_enable = #{isEnable}
			</if>
			<if test="category != null and category != ''">
				AND a.category = #{category}
			</if>
			<if test="locUseType != null and locUseType != ''">
				AND a.loc_use_type = #{locUseType}
			</if>
			<if test="paSeq != null and paSeq != ''">
				AND a.pa_seq = #{paSeq}
			</if>
			<if test="pkSeq != null and pkSeq != ''">
				AND a.pk_seq = #{pkSeq}
			</if>
			<if test="abc != null and abc != ''">
				AND a.abc = #{abc}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.loc_code
			</otherwise>
		</choose>
	</select>

	<select id="findPage" resultType="BanQinCdWhLoc" >
		SELECT
			<include refid="banQinCdWhLocColumns"/>
		FROM cd_wh_loc a
		<include refid="banQinCdWhLocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.org_id = #{orgId}
			${dataScope}
			<if test="locCode != null and locCode != ''">
				AND a.loc_code like concat('%', #{locCode}, '%')
			</if>
			<if test="zoneCode != null and zoneCode != ''">
				AND a.zone_code like concat('%', #{zoneCode}, '%')
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="isEnable != null and isEnable != ''">
				AND a.is_enable = #{isEnable}
			</if>
			<if test="category != null and category != ''">
				AND a.category = #{category}
			</if>
			<if test="locUseType != null and locUseType != ''">
				AND a.loc_use_type = #{locUseType}
			</if>
			<if test="paSeq != null and paSeq != ''">
				AND a.pa_seq = #{paSeq}
			</if>
			<if test="pkSeq != null and pkSeq != ''">
				AND a.pk_seq = #{pkSeq}
			</if>
			<if test="abc != null and abc != ''">
				AND a.abc = #{abc}
			</if>
			<if test="codeAndName != null and codeAndName != ''">
				AND (1 = 2
				OR a.loc_code like concat('%', #{codeAndName}, '%')
				OR a.zone_code like concat('%', #{codeAndName}, '%')
				)
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.loc_code
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BanQinCdWhLoc" >
		SELECT 
			<include refid="banQinCdWhLocColumns"/>
		FROM cd_wh_loc a
		<include refid="banQinCdWhLocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cd_wh_loc(
			id,
			loc_code,
			zone_code,
			status,
			is_enable,
			category,
			loc_use_type,
			pa_seq,
			pk_seq,
			abc,
			length,
			width,
			height,
			lane,
			seq,
			floor,
			loc_group,
			is_mix_sku,
			max_mix_sku,
			is_mix_lot,
			max_mix_lot,
			is_lose_id,
			max_weight,
			max_cubic,
			max_pl,
			x,
			y,
			z,
			def1,
			def2,
			def3,
			def4,
			def5,
			def6,
			def7,
			def8,
			def9,
			def10,
			remarks,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id
		) VALUES (
			#{id},
			#{locCode},
			#{zoneCode},
			#{status},
			#{isEnable},
			#{category},
			#{locUseType},
			#{paSeq},
			#{pkSeq},
			#{abc},
			#{length},
			#{width},
			#{height},
			#{lane},
			#{seq},
			#{floor},
			#{locGroup},
			#{isMixSku},
			#{maxMixSku},
			#{isMixLot},
			#{maxMixLot},
			#{isLoseId},
			#{maxWeight},
			#{maxCubic},
			#{maxPl},
			#{x},
			#{y},
			#{z},
			#{def1},
			#{def2},
			#{def3},
			#{def4},
			#{def5},
			#{def6},
			#{def7},
			#{def8},
			#{def9},
			#{def10},
			#{remarks},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId}
		)
	</insert>
	
	<update id="update">
		UPDATE cd_wh_loc SET 	
			loc_code = #{locCode},
			zone_code = #{zoneCode},
			status = #{status},
			is_enable = #{isEnable},
			category = #{category},
			loc_use_type = #{locUseType},
			pa_seq = #{paSeq},
			pk_seq = #{pkSeq},
			abc = #{abc},
			length = #{length},
			width = #{width},
			height = #{height},
			lane = #{lane},
			seq = #{seq},
			floor = #{floor},
			loc_group = #{locGroup},
			is_mix_sku = #{isMixSku},
			max_mix_sku = #{maxMixSku},
			is_mix_lot = #{isMixLot},
			max_mix_lot = #{maxMixLot},
			is_lose_id = #{isLoseId},
			max_weight = #{maxWeight},
			max_cubic = #{maxCubic},
			max_pl = #{maxPl},
			x = #{x},
			y = #{y},
			z = #{z},
			def1 = #{def1},
			def2 = #{def2},
			def3 = #{def3},
			def4 = #{def4},
			def5 = #{def5},
			def6 = #{def6},
			def7 = #{def7},
			def8 = #{def8},
			def9 = #{def9},
			def10 = #{def10},
			remarks = #{remarks},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cd_wh_loc SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM cd_wh_loc WHERE id = #{id}
	</delete>
	<delete id="remove">
		DELETE FROM cd_wh_loc WHERE loc_code = #{locCode} AND org_id = #{orgId}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinCdWhLoc" statementType="STATEMENT">
		SELECT * FROM cd_wh_loc WHERE ${propertyName} = '${value}'
	</select>
	
	<select id="getExistLoc" resultType="BanQinCdWhLoc">
		SELECT
			<include refid="banQinCdWhLocColumns"/>
		FROM cd_wh_loc a
		<include refid="banQinCdWhLocJoins"/>
		WHERE 1=1
		AND a.org_id = #{orgId}
		AND a.loc_code IN
		<foreach collection="locCodeList" index="locCode" item="locCode" open="(" separator="," close=")">
			#{locCode}
		</foreach>
	</select>

    <select id="getByCode" resultType="com.yunyou.modules.wms.basicdata.entity.BanQinCdWhLoc">
		SELECT
		<include refid="banQinCdWhLocColumns"/>
		FROM cd_wh_loc a
		<include refid="banQinCdWhLocJoins"/>
		WHERE a.loc_code = #{locCode} and a.org_id = #{orgId}
	</select>

</mapper>