<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.order.mapper.TmDemandPlanHeaderMapper">

	<sql id="tmDemandPlanHeaderColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.plan_order_no AS "planOrderNo",
		a.owner_code AS "ownerCode",
		a.order_time AS "orderTime",
		a.arrival_time AS "arrivalTime",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer",
		a.base_org_id AS "baseOrgId",
		a.status AS "status"
	</sql>

	<select id="get" resultType="TmDemandPlanHeader">
		SELECT <include refid="tmDemandPlanHeaderColumns"/>
		FROM tm_demand_plan_header a
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="TmDemandPlanHeader">
		SELECT
		<include refid="tmDemandPlanHeaderColumns"/>
		FROM tm_demand_plan_header a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="planOrderNo != null and planOrderNo != ''">
				AND a.plan_order_no = #{planOrderNo}
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="TmDemandPlanHeader">
		SELECT
		<include refid="tmDemandPlanHeaderColumns"/>
		FROM tm_demand_plan_header a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO tm_demand_plan_header(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			plan_order_no,
			owner_code,
			order_time,
			arrival_time,
			org_id,
			rec_ver,
			base_org_id,
		    status
		) VALUES (
			 #{id},
			 #{createBy.id},
			 #{createDate},
			 #{updateBy.id},
			 #{updateDate},
			 #{remarks},
			 #{delFlag},
			 #{planOrderNo},
		     #{ownerCode},
			 #{orderTime},
			 #{arrivalTime},
			 #{orgId},
			 #{recVer},
			 #{baseOrgId},
		     #{status}
		 )
	</insert>

	<update id="update">
		UPDATE tm_demand_plan_header SET
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			plan_order_no = #{planOrderNo},
			owner_code = #{ownerCode},
			order_time = #{orderTime},
			arrival_time = #{arrivalTime},
			org_id = #{orgId},
			rec_ver = rec_ver + 1,
			base_org_id = #{baseOrgId},
		    status = #{status}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM tm_demand_plan_header
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tm_demand_plan_header SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TmDemandPlanHeader" statementType="STATEMENT">
		SELECT * FROM tm_demand_plan_header WHERE ${propertyName} = '${value}'
	</select>

</mapper>