<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.order.mapper.TmDispatchPlanHeaderMapper">
    
	<sql id="tmDispatchPlanHeaderColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.plan_no AS "planNo",
		a.dispatch_time AS "dispatchTime",
		a.carrier_code AS "carrierCode",
		a.dispatch_outlet_code AS "dispatchOutletCode",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer",
		a.base_org_id AS "baseOrgId",
		a.status AS "status"
	</sql>
	
	<select id="get" resultType="TmDispatchPlanHeader">
		SELECT <include refid="tmDispatchPlanHeaderColumns"/>
		FROM tm_dispatch_plan_header a
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="TmDispatchPlanHeader">
		SELECT 
			<include refid="tmDispatchPlanHeaderColumns"/>
		FROM tm_dispatch_plan_header a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="planNo != null and planNo != ''">
				AND a.plan_no = #{planNo}
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="TmDispatchPlanHeader">
		SELECT 
			<include refid="tmDispatchPlanHeaderColumns"/>
		FROM tm_dispatch_plan_header a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tm_dispatch_plan_header(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			plan_no,
			dispatch_time,
			carrier_code,
			dispatch_outlet_code,
			org_id,
			rec_ver,
			base_org_id,
		    status
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{planNo},
		    #{dispatchTime},
			#{carrierCode},
			#{dispatchOutletCode},
			#{orgId},
			#{recVer},
			#{baseOrgId},
		    #{status}
		)
	</insert>
	
	<update id="update">
		UPDATE tm_dispatch_plan_header SET
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			plan_no = #{planNo},
			dispatch_time = #{dispatchTime},
			carrier_code = #{carrierCode},
			dispatch_outlet_code = #{dispatchOutletCode},
			org_id = #{orgId},
			rec_ver = rec_ver + 1,
			base_org_id = #{baseOrgId},
		    status = #{status}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM tm_dispatch_plan_header
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tm_dispatch_plan_header SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TmDispatchPlanHeader" statementType="STATEMENT">
		SELECT * FROM tm_dispatch_plan_header WHERE ${propertyName} = '${value}'
	</select>

</mapper>