<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.order.mapper.TmExceptionHandleBillDetailMapper">
    
	<sql id="tmExceptionHandleBillDetailColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.bill_no AS "billNo",
		a.handle_user AS "handleUser",
		a.handle_time AS "handleTime",
		a.handle_description AS "handleDescription",
		a.org_id AS "orgId",
		a.base_org_id AS "baseOrgId",
		a.rec_ver AS "recVer"
	</sql>

	<select id="get" resultType="TmExceptionHandleBillDetail">
		SELECT <include refid="tmExceptionHandleBillDetailColumns"/>
		FROM tm_exception_handle_bill_detail a
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="TmExceptionHandleBillDetail">
		SELECT
			<include refid="tmExceptionHandleBillDetailColumns"/>
		FROM tm_exception_handle_bill_detail a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="billNo != null and billNo != ''">
				AND a.bill_no = #{billNo}
			</if>
			<if test="handleUser != null and handleUser != ''">
				AND a.handle_user = #{handleUser}
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="TmExceptionHandleBillDetail">
		SELECT
			<include refid="tmExceptionHandleBillDetailColumns"/>
		FROM tm_exception_handle_bill_detail a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tm_exception_handle_bill_detail(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			bill_no,
			handle_user,
			handle_time,
			handle_description,
			org_id,
			base_org_id,
			rec_ver
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{billNo},
			#{handleUser},
			#{handleTime},
			#{handleDescription},
			#{orgId},
			#{baseOrgId},
			#{recVer}
		)
	</insert>
	
	<update id="update">
		UPDATE tm_exception_handle_bill_detail SET
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			bill_no = #{billNo},
			handle_user = #{handleUser},
			handle_time = #{handleTime},
			handle_description = #{handleDescription},
			org_id = #{orgId},
			base_org_id = #{baseOrgId},
			rec_ver = rec_ver + 1
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM tm_exception_handle_bill_detail
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tm_exception_handle_bill_detail SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TmExceptionHandleBillDetail" statementType="STATEMENT">
		SELECT * FROM tm_exception_handle_bill_detail WHERE ${propertyName} = '${value}'
	</select>

	<update id="deleteDetail">
		DELETE FROM tm_exception_handle_bill_detail
		<where> 1 = 1
			AND org_id = #{orgId}
			AND bill_no = #{billNo}
		</where>
	</update>

</mapper>