<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.order.mapper.TmExpressInfoImportMapper">
    
	<sql id="tmExpressInfoImportColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.import_no AS "importNo",
		a.file_name AS "fileName",
		a.import_reason AS "importReason",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer"
	</sql>
	
	<sql id="tmExpressInfoImportJoins">
		
	</sql>
	
    
	<select id="get" resultType="TmExpressInfoImport" >
		SELECT 
			<include refid="tmExpressInfoImportColumns"/>
		FROM tm_express_info_import a
		<include refid="tmExpressInfoImportJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="TmExpressInfoImport" >
		SELECT 
			<include refid="tmExpressInfoImportColumns"/>
		FROM tm_express_info_import a
		<include refid="tmExpressInfoImportJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="importNo != null and importNo != ''">
				AND a.import_no = #{importNo}
			</if>
			<if test="fileName != null and fileName != ''">
				AND a.file_name = #{fileName}
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="TmExpressInfoImport" >
		SELECT 
			<include refid="tmExpressInfoImportColumns"/>
		FROM tm_express_info_import a
		<include refid="tmExpressInfoImportJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tm_express_info_import(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			import_no,
			file_name,
			import_reason,
			org_id,
			rec_ver
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{importNo},
			#{fileName},
			#{importReason},
			#{orgId},
			#{recVer}
		)
	</insert>
	
	<update id="update">
		UPDATE tm_express_info_import SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			import_no = #{importNo},
			file_name = #{fileName},
			import_reason = #{importReason},
			org_id = #{orgId},
			rec_ver = #{recVer}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tm_express_info_import
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tm_express_info_import SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TmExpressInfoImport" statementType="STATEMENT">
		select * FROM tm_express_info_import  where ${propertyName} = '${value}'
	</select>
	
</mapper>