<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.basic.mapper.TmItemBarcodeMapper">
    
	<sql id="tmItemBarcodeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.owner_code AS "ownerCode",
		a.sku_code AS "skuCode",
		a.barcode AS "barcode",
		a.is_default AS "isDefault",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer"
	</sql>
	
	<sql id="tmItemBarcodeJoins">
		
	</sql>

	<select id="get" resultType="TmItemBarcode" >
		SELECT 
			<include refid="tmItemBarcodeColumns"/>
		FROM tm_item_barcode a
		<include refid="tmItemBarcodeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="TmItemBarcode" >
		SELECT 
			<include refid="tmItemBarcodeColumns"/>
		FROM tm_item_barcode a
		<include refid="tmItemBarcodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.owner_code = #{ownerCode}
			AND a.sku_code = #{skuCode}
			AND a.org_id = #{orgId}
			${dataScope}
			<if test="barcode != null and barcode != ''">
				AND a.barcode = #{barcode}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="TmItemBarcode" >
		SELECT 
			<include refid="tmItemBarcodeColumns"/>
		FROM tm_item_barcode a
		<include refid="tmItemBarcodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tm_item_barcode(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			owner_code,
			sku_code,
			barcode,
			is_default,
			org_id,
			rec_ver
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{ownerCode},
			#{skuCode},
			#{barcode},
			#{isDefault},
			#{orgId},
			#{recVer}
		)
	</insert>
	
	<update id="update">
		UPDATE tm_item_barcode
		SET update_by   = #{updateBy.id},
			update_date = #{updateDate},
			remarks     = #{remarks},
			owner_code  = #{ownerCode},
			sku_code    = #{skuCode},
			barcode     = #{barcode},
			is_default  = #{isDefault},
			org_id      = #{orgId},
			rec_ver     = rec_ver + 1
		WHERE id = #{id}
		  AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tm_item_barcode SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM tm_item_barcode WHERE id = #{id}
	</delete>
	<delete id="remove">
		DELETE FROM tm_item_barcode WHERE owner_code = #{ownerCode} AND sku_code = #{skuCode} AND org_id = #{orgId}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TmItemBarcode" statementType="STATEMENT">
		select * FROM tm_item_barcode  where ${propertyName} = '${value}'
	</select>
	
</mapper>