<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.report.mapper.TmRepVehicleMonitoringMapper">

    <select id="findList" resultType="com.yunyou.modules.tms.report.entity.TmRepVehicleMonitoring">
        select tv.car_no                        as vehicleNo,
               td.name                          as driverName,
               tto.transport_obj_name           as carrierName,
               tv.transport_equipment_type_code as gpsNo,
               ttet.supplier_code               as gpsManufacturer,
               tv.org_id                        as baseOrgId,
               so.name                          as baseOrgName
        from tm_vehicle tv
            inner join tm_transport_equipment_type ttet on tv.transport_equipment_type_code = ttet.transport_equipment_type_code and tv.org_id = ttet.org_id
            left join tm_driver td on tv.main_driver = td.code and tv.org_id = td.org_id
            left join tm_transport_obj tto on tv.carrier_code = tto.transport_obj_code and tv.org_id = tto.org_id
            left join sys_office so on tv.org_id = so.id
        <where>
            ttet.supplier_code IS NOT NULL
            ${dataScope}
            <if test="baseOrgId != null and baseOrgId != ''">
                AND tv.org_id = #{baseOrgId}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY tv.car_no DESC
            </otherwise>
        </choose>
    </select>
</mapper>