<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.spare.mapper.TmSparePartInvMapper">

    <sql id="tmSparePartInvColumns">
        a.id AS "id",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.fitting_code AS "fittingCode",
        a.inbound_time AS "inboundTime",
        a.barcode AS "barcode",
        a.supplier_code AS "supplierCode",
        a.price AS "price",
        a.org_id AS "orgId",
        a.rec_ver AS "recVer",
        a.base_org_id AS "baseOrgId"
    </sql>

    <select id="get" resultType="com.yunyou.modules.tms.spare.entity.TmSparePartInv" >
        SELECT <include refid="tmSparePartInvColumns"/>
        FROM tm_spare_part_inv a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.tms.spare.entity.TmSparePartInv" >
        SELECT <include refid="tmSparePartInvColumns"/>
        FROM tm_spare_part_inv a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="fittingCode != null and fittingCode != ''">
                AND a.fitting_code = #{fittingCode}
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                AND a.supplier_code = #{supplierCode}
            </if>
            <if test="barcode != null and barcode != ''">
                AND a.barcode = #{barcode}
            </if>
            <if test="orgId != null and orgId != ''">
                AND a.org_id = #{orgId}
            </if>
            <if test="baseOrgId != null and baseOrgId != ''">
                AND a.base_org_id = #{baseOrgId}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.tms.spare.entity.TmSparePartInv" >
        SELECT
        <include refid="tmSparePartInvColumns"/>
        FROM tm_spare_part_inv a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO tm_spare_part_inv(
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            fitting_code,
            inbound_time,
            barcode,
            supplier_code,
            price,
            org_id,
            rec_ver,
            base_org_id
        ) VALUES (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{fittingCode},
            #{inboundTime},
            #{barcode},
            #{supplierCode},
            #{price},
            #{orgId},
            #{recVer},
            #{baseOrgId}
        )
    </insert>

    <update id="update">
        UPDATE tm_spare_part_inv SET
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            del_flag = #{delFlag},
            remarks = #{remarks},
            fitting_code = #{fittingCode},
            inbound_time = #{inboundTime},
            barcode = #{barcode},
            supplier_code = #{supplierCode},
            price = #{price},
            org_id = #{orgId},
            base_org_id = #{baseOrgId},
            rec_ver = rec_ver + 1
        WHERE id = #{id} AND rec_ver = #{recVer}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE tm_spare_part_inv SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
    </update>
    <!--物理删除-->
    <delete id="delete">
        DELETE FROM tm_spare_part_inv WHERE id = #{id}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.tms.spare.entity.TmSparePartInv" statementType="STATEMENT">
        select * FROM tm_spare_part_inv  where ${propertyName} = '${value}'
    </select>

    <select id="getOnly" resultType="com.yunyou.modules.tms.spare.entity.TmSparePartInv" >
        SELECT <include refid="tmSparePartInvColumns"/>
        FROM tm_spare_part_inv a
        WHERE a.barcode = #{barcode} AND a.base_org_id = #{baseOrgId}
    </select>

    <select id="getOnlyEntity" resultType="com.yunyou.modules.tms.spare.entity.extend.TmSparePartInvEntity" >
        SELECT <include refid="tmSparePartInvColumns"/>,
        tf.fitting_name AS "fittingName",
        tf.fitting_model AS "fittingModel",
        tto.transport_obj_name AS "supplierName",
        suc.name AS "createBy.name",
        suu.name AS "updateBy.name",
        so.name AS "orgName"
        FROM tm_spare_part_inv a
        LEFT JOIN tm_fitting tf ON a.fitting_code = tf.fitting_code AND a.base_org_id = tf.org_id
        LEFT JOIN tm_transport_obj tto ON a.supplier_code = tto.transport_obj_code AND a.base_org_id = tto.org_id
        LEFT JOIN sys_user suc ON a.create_by = suc.id
        LEFT JOIN sys_user suu ON a.update_by = suu.id
        LEFT JOIN sys_office so ON a.org_id = so.id
        WHERE a.barcode = #{barcode} AND a.base_org_id = #{baseOrgId}
    </select>

    <select id="getEntity" resultType="com.yunyou.modules.tms.spare.entity.extend.TmSparePartInvEntity" >
        SELECT
            <include refid="tmSparePartInvColumns"/>,
            tf.fitting_name AS "fittingName",
            tto.transport_obj_name AS "supplierName",
            suc.name AS "createBy.name",
            suu.name AS "updateBy.name",
            so.name AS "orgName"
        FROM tm_spare_part_inv a
        LEFT JOIN tm_fitting tf ON a.fitting_code = tf.fitting_code AND a.base_org_id = tf.org_id
        LEFT JOIN tm_transport_obj tto ON a.supplier_code = tto.transport_obj_code AND a.base_org_id = tto.org_id
        LEFT JOIN sys_user suc ON a.create_by = suc.id
        LEFT JOIN sys_user suu ON a.update_by = suu.id
        LEFT JOIN sys_office so ON a.org_id = so.id
        WHERE a.id = #{id}
    </select>

    <select id="findPage" resultType="com.yunyou.modules.tms.spare.entity.extend.TmSparePartInvEntity" >
        SELECT
            <include refid="tmSparePartInvColumns"/>,
            tf.fitting_name AS "fittingName",
            tto.transport_obj_name AS "supplierName",
            suc.name AS "createBy.name",
            suu.name AS "updateBy.name",
            so.name AS "orgName"
        FROM tm_spare_part_inv a
        LEFT JOIN tm_fitting tf ON a.fitting_code = tf.fitting_code AND a.base_org_id = tf.org_id
        LEFT JOIN tm_transport_obj tto ON a.supplier_code = tto.transport_obj_code AND a.base_org_id = tto.org_id
        LEFT JOIN sys_user suc ON a.create_by = suc.id
        LEFT JOIN sys_user suu ON a.update_by = suu.id
        LEFT JOIN sys_office so ON a.org_id = so.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="fittingCode != null and fittingCode != ''">
                AND a.fitting_code = #{fittingCode}
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                AND a.supplier_code = #{supplierCode}
            </if>
            <if test="barcode != null and barcode != ''">
                AND a.barcode LIKE concat('%',#{barcode},'%')
            </if>
            <if test="inboundTimeFm != null">
                AND a.inbound_time &gt;= #{inboundTimeFm}
            </if>
            <if test="inboundTimeTo != null">
                AND a.inbound_time &lt;= #{inboundTimeTo}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <delete id="deleteByNo">
        DELETE FROM tm_spare_part_inv WHERE barcode = #{barcode} AND base_org_id = #{baseOrgId}
    </delete>
</mapper>