<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.spare.mapper.TmSpareSoDetailMapper">

    <sql id="tmSpareSoDetailColumns">
        a.id AS "id",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.spare_so_no AS "spareSoNo",
        a.line_no AS "lineNo",
        a.fitting_code AS "fittingCode",
        a.so_qty AS "soQty",
        a.supplier_code AS "supplierCode",
        a.price AS "price",
        a.org_id AS "orgId",
        a.rec_ver AS "recVer",
        a.base_org_id AS "baseOrgId"
    </sql>

    <select id="get" resultType="com.yunyou.modules.tms.spare.entity.TmSpareSoDetail" >
        SELECT <include refid="tmSpareSoDetailColumns"/>
        FROM tm_spare_so_detail a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.tms.spare.entity.TmSpareSoDetail" >
        SELECT <include refid="tmSpareSoDetailColumns"/>
        FROM tm_spare_so_detail a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="spareSoNo != null and spareSoNo != ''">
                AND a.spare_so_no = #{spareSoNo}
            </if>
            <if test="lineNo != null and lineNo != ''">
                AND a.line_no = #{lineNo}
            </if>
            <if test="fittingCode != null and fittingCode != ''">
                AND a.fitting_code = #{fittingCode}
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                AND a.supplier_code = #{supplierCode}
            </if>
            <if test="orgId != null and orgId != ''">
                AND a.org_id = #{orgId}
            </if>
            <if test="baseOrgId != null and baseOrgId != ''">
                AND a.base_org_id = #{baseOrgId}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.tms.spare.entity.TmSpareSoDetail" >
        SELECT
        <include refid="tmSpareSoDetailColumns"/>
        FROM tm_spare_so_detail a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO tm_spare_so_detail(
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            spare_so_no,
            line_no,
            fitting_code,
            so_qty,
            supplier_code,
            price,
            org_id,
            rec_ver,
            base_org_id
        ) VALUES (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{spareSoNo},
            #{lineNo},
            #{fittingCode},
            #{soQty},
            #{supplierCode},
            #{price},
            #{orgId},
            #{recVer},
            #{baseOrgId}
        )
    </insert>

    <update id="update">
        UPDATE tm_spare_so_detail SET
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            del_flag = #{delFlag},
            remarks = #{remarks},
            spare_so_no = #{spareSoNo},
            line_no = #{lineNo},
            fitting_code = #{fittingCode},
            so_qty = #{soQty},
            supplier_code = #{supplierCode},
            price = #{price},
            org_id = #{orgId},
            base_org_id = #{baseOrgId},
            rec_ver = rec_ver + 1
        WHERE id = #{id} AND rec_ver = #{recVer}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE tm_spare_so_detail SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
    </update>
    <!--物理删除-->
    <delete id="delete">
        DELETE FROM tm_spare_so_detail WHERE id = #{id}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.tms.spare.entity.TmSpareSoDetail" statementType="STATEMENT">
        select * FROM tm_spare_so_detail  where ${propertyName} = '${value}'
    </select>
</mapper>