<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.inventory.mapper.BanQinWmInvLotMapper">
    
	<sql id="banQinWmInvLotColumns">
		a.id AS "id",
		a.lot_num AS "lotNum",
		a.owner_code AS "ownerCode",
		a.sku_code AS "skuCode",
		a.qty AS "qty",
		a.qty_hold AS "qtyHold",
		a.qty_prealloc AS "qtyPrealloc",
		a.qty_alloc AS "qtyAlloc",
		a.qty_pk AS "qtyPk",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId"
	</sql>
	
	<sql id="banQinWmInvLotJoins">
		
	</sql>
	
	<select id="get" resultType="BanQinWmInvLot" >
		SELECT 
			<include refid="banQinWmInvLotColumns"/>
		FROM wm_inv_lot a
		<include refid="banQinWmInvLotJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinWmInvLot" >
		SELECT 
			<include refid="banQinWmInvLotColumns"/>
		FROM wm_inv_lot a
		<include refid="banQinWmInvLotJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId} 
			${dataScope}
            <if test="lotNum != null and lotNum != ''">
                AND a.lot_num = #{lotNum}
            </if>
            <if test="ownerCode != null and ownerCode != ''">
                AND a.owner_code = #{ownerCode}
            </if>
            <if test="skuCode != null and skuCode != ''">
                AND a.sku_code = #{skuCode}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
    
    <select id="checkSkuIsToQcQuery" resultType="java.lang.String">
        SELECT wil.sku_code
          FROM wm_inv_lot wil
         WHERE EXISTS (
            SELECT 1 FROM wm_inv_lot_att wila
		 	WHERE wila.lot_num = wil.lot_num
            AND wila.sku_code = wil.sku_code
            AND wila.owner_code = wil.owner_code
            AND wila.org_id = wil.org_id
            <if test='isQc == "N".toString()'>
                AND wila.lot_att04 = 'Q'
            </if>
            <if test='isQc == "Y".toString()'>
                AND (wila.lot_att04 IS NULL OR wila.lot_att04 = '')
            </if>
         )
         AND wil.sku_code = #{skuCode}
         AND wil.owner_code = #{ownerCode}
         AND wil.org_id = #{orgId}
    </select>
	
	<select id="findAllList" resultType="BanQinWmInvLot" >
		SELECT 
			<include refid="banQinWmInvLotColumns"/>
		FROM wm_inv_lot a
		<include refid="banQinWmInvLotJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wm_inv_lot(
			id,
			lot_num,
			owner_code,
			sku_code,
			qty,
			qty_hold,
			qty_prealloc,
			qty_alloc,
			qty_pk,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id
		) VALUES (
			#{id},
			#{lotNum},
			#{ownerCode},
			#{skuCode},
			#{qty},
			#{qtyHold},
			#{qtyPrealloc},
			#{qtyAlloc},
			#{qtyPk},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId}
		)
	</insert>
	
	<update id="update">
		UPDATE wm_inv_lot SET 	
			lot_num = #{lotNum},
			owner_code = #{ownerCode},
			sku_code = #{skuCode},
			qty = #{qty},
			qty_hold = #{qtyHold},
			qty_prealloc = #{qtyPrealloc},
			qty_alloc = #{qtyAlloc},
			qty_pk = #{qtyPk},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			org_id = #{orgId}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM wm_inv_lot
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wm_inv_lot SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinWmInvLot" statementType="STATEMENT">
		SELECT * FROM wm_inv_lot WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>