<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.inventory.mapper.BanQinWmAdDetailMapper">
    
	<sql id="banQinWmAdDetailColumns">
		a.id AS "id",
		a.ad_no AS "adNo",
		a.line_no AS "lineNo",
		a.status AS "status",
		a.owner_code AS "ownerCode",
		a.sku_code AS "skuCode",
		a.lot_num AS "lotNum",
		a.loc_code AS "locCode",
		a.trace_id AS "traceId",
		a.ad_mode AS "adMode",
		a.pack_code AS "packCode",
		a.uom AS "uom",
		a.qty_ad_uom AS "qtyAdUom",
		a.qty_ad_ea AS "qtyAdEa",
		a.edi_send_time AS "ediSendTime",
		a.is_edi_send AS "isEdiSend",
		a.def1 AS "def1",
		a.def2 AS "def2",
		a.def3 AS "def3",
		a.def4 AS "def4",
		a.def5 AS "def5",
		a.remarks AS "remarks",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId",
        a.header_id AS "headerId"
	</sql>
	
	<sql id="banQinWmAdDetailJoins">
		
	</sql>

	<select id="get" resultType="BanQinWmAdDetail" >
		SELECT 
			<include refid="banQinWmAdDetailColumns"/>
		FROM wm_ad_detail a
		<include refid="banQinWmAdDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinWmAdDetail" >
		SELECT 
			<include refid="banQinWmAdDetailColumns"/>
		FROM wm_ad_detail a
		<include refid="banQinWmAdDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
			${dataScope}
            <if test="headerId != null and headerId != ''">
                AND a.header_id = #{headerId}
            </if>
            <if test="adNo != null and adNo != ''">
                AND a.ad_no = #{adNo}
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
            <if test="lineNo != null and lineNo != ''">
                AND a.line_no = #{lineNo}
            </if>
			<if test="ownerCode != null and ownerCode != ''">
				AND a.owner_code = #{ownerCode}
			</if>
			<if test="skuCode != null and skuCode != ''">
				AND a.sku_code = #{skuCode}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

    <select id="findPage" resultType="BanQinWmAdDetailEntity" >
        SELECT
            <include refid="banQinWmAdDetailColumns"/>,
            cws.sku_name AS skuName,
			ebcu.ebcu_name_cn AS ownerName,
            cwp.cdpa_format AS packDesc,
            cwpr.cdpr_desc AS cdprDesc,
            (CASE WHEN cwpr.cdpr_quantity = 0 THEN 1 WHEN (cwpr.cdpr_quantity is null or cwpr.cdpr_quantity = '') THEN 1 ELSE cwpr.cdpr_quantity END) AS cdprQuantity,
            wila.lot_att01 AS lotAtt01,
            wila.lot_att02 AS lotAtt02,
            wila.lot_att03 AS lotAtt03,
            wila.lot_att04 AS lotAtt04,
            wila.lot_att05 AS lotAtt05,
            wila.lot_att06 AS lotAtt06,
            wila.lot_att07 AS lotAtt07,
            wila.lot_att08 AS lotAtt08,
            wila.lot_att09 AS lotAtt09,
            wila.lot_att10 AS lotAtt10,
            wila.lot_att11 AS lotAtt11,
            wila.lot_att12 AS lotAtt12,
            (will.qty - will.qty_alloc - will.qty_pk - will.qty_pa_out - will.qty_rp_out - will.qty_mv_out) AS qtyAvailable,
            cws.is_serial AS isSerial
        FROM wm_ad_detail a
        LEFT JOIN cd_wh_sku cws ON cws.owner_code = a.owner_code AND cws.sku_code = a.sku_code AND cws.org_id = a.org_id
        LEFT JOIN eb_customer ebcu ON ebcu.ebcu_customer_no = a.owner_code AND ebcu.org_id = a.org_id AND ebcu.ebcu_type like concat('%OWNER,%')
        LEFT JOIN cd_wh_package cwp ON cwp.cdpa_code = a.pack_code AND cwp.org_id = a.org_id
        LEFT JOIN cd_wh_package_relation cwpr ON cwpr.cdpr_cdpa_pm_code = cwp.pm_code AND cwpr.cdpr_unit_level = a.uom AND cwpr.org_id = a.org_id
        LEFT JOIN wm_inv_lot_loc will ON will.owner_code  =a.owner_code AND will.sku_code = a.sku_code AND will.lot_num = a.lot_num AND will.loc_code = a.loc_code AND will.trace_id = a.trace_id AND will.org_id = a.org_id
        LEFT JOIN wm_inv_lot_att wila ON wila.lot_num = a.lot_num AND wila.owner_code = a.owner_code AND wila.sku_code = a.sku_code AND wila.org_id = a.org_id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
            ${dataScope}
            <if test="headerId != null and headerId != ''">
                AND a.header_id = #{headerId}
            </if>
            <if test="adNo != null and adNo != ''">
                AND a.ad_no = #{adNo}
            </if>
            <if test="lineNo != null and lineNo != ''">
                AND a.line_no = #{lineNo}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.line_no
            </otherwise>
        </choose>
    </select>

    <select id="wmAdCheckSerialQuery" resultType="BanQinWmAdDetailEntity" >
        SELECT a.ad_no AS adNo,
            a.owner_code AS ownerCode,
            a.sku_code AS skuCode,
            a.lot_num AS lotNum,
            SUM(CASE a.ad_mode WHEN 'A' THEN a.qty_ad_ea WHEN 'R' THEN -a.qty_ad_ea END) AS lotQty
        FROM wm_ad_detail a
        LEFT JOIN cd_wh_sku cws ON cws.owner_code = a.owner_code AND cws.sku_code = a.sku_code AND cws.org_id = a.org_id
        WHERE 1=1
        AND cws.is_serial = 'Y'
        AND a.status = '00'
        AND a.ad_no = #{adNo}
        AND a.org_id = #{orgId}
        GROUP BY a.ad_no, a.owner_code, a.sku_code, a.lot_num
    </select>
	
	<select id="findAllList" resultType="BanQinWmAdDetail" >
		SELECT 
			<include refid="banQinWmAdDetailColumns"/>
		FROM wm_ad_detail a
		<include refid="banQinWmAdDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wm_ad_detail(
			id,
			ad_no,
			line_no,
			status,
			owner_code,
			sku_code,
			lot_num,
			loc_code,
			trace_id,
			ad_mode,
			pack_code,
			uom,
			qty_ad_uom,
			qty_ad_ea,
			edi_send_time,
			is_edi_send,
			def1,
			def2,
			def3,
			def4,
			def5,
			remarks,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id,
            header_id
		) VALUES (
			#{id},
			#{adNo},
			#{lineNo},
			#{status},
			#{ownerCode},
			#{skuCode},
			#{lotNum},
			#{locCode},
			#{traceId},
			#{adMode},
			#{packCode},
			#{uom},
			#{qtyAdUom},
			#{qtyAdEa},
			#{ediSendTime},
			#{isEdiSend},
			#{def1},
			#{def2},
			#{def3},
			#{def4},
			#{def5},
			#{remarks},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId},
            #{headerId}
		)
	</insert>
	
	<update id="update">
		UPDATE wm_ad_detail SET 	
			ad_no = #{adNo},
			line_no = #{lineNo},
			status = #{status},
			owner_code = #{ownerCode},
			sku_code = #{skuCode},
			lot_num = #{lotNum},
			loc_code = #{locCode},
			trace_id = #{traceId},
			ad_mode = #{adMode},
			pack_code = #{packCode},
			uom = #{uom},
			qty_ad_uom = #{qtyAdUom},
			qty_ad_ea = #{qtyAdEa},
			edi_send_time = #{ediSendTime},
			is_edi_send = #{isEdiSend},
			def1 = #{def1},
			def2 = #{def2},
			def3 = #{def3},
			def4 = #{def4},
			def5 = #{def5},
			remarks = #{remarks},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM wm_ad_detail
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wm_ad_detail SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinWmAdDetail" statementType="STATEMENT">
		SELECT * FROM wm_ad_detail WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>