<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.inventory.mapper.BanQinWmInvDailyTempMapper">
    
	<sql id="banQinWmInvDailyTempColumns">
		a.id AS "id",
		a.tran_time AS "tranTime",
		a.owner_code AS "ownerCode",
		a.owner_name AS "ownerName",
		a.sku_code AS "skuCode",
		a.sku_name AS "skuName",
		a.lot_num AS "lotNum",
		a.loc_code AS "locCode",
		a.trace_id AS "traceId",
		a.inv_qty AS "invQty",
		a.lot_att01 AS "lotAtt01",
		a.lot_att02 AS "lotAtt02",
		a.lot_att03 AS "lotAtt03",
		a.lot_att04 AS "lotAtt04",
		a.lot_att05 AS "lotAtt05",
		a.lot_att06 AS "lotAtt06",
		a.lot_att07 AS "lotAtt07",
		a.lot_att08 AS "lotAtt08",
		a.lot_att09 AS "lotAtt09",
		a.lot_att10 AS "lotAtt10",
		a.lot_att11 AS "lotAtt11",
		a.lot_att12 AS "lotAtt12",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId"
	</sql>
	
	<sql id="banQinWmInvDailyTempJoins">
		
	</sql>
	
	<select id="get" resultType="BanQinWmInvDailyTemp" >
		SELECT 
			<include refid="banQinWmInvDailyTempColumns"/>
		FROM wm_inv_daily_temp a
		<include refid="banQinWmInvDailyTempJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinWmInvDailyTemp" >
		SELECT 
			<include refid="banQinWmInvDailyTempColumns"/>
		FROM wm_inv_daily_temp a
		<include refid="banQinWmInvDailyTempJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BanQinWmInvDailyTemp" >
		SELECT 
			<include refid="banQinWmInvDailyTempColumns"/>
		FROM wm_inv_daily_temp a
		<include refid="banQinWmInvDailyTempJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wm_inv_daily_temp(
			id,
			tran_time,
			owner_code,
			owner_name,
			sku_code,
			sku_name,
			lot_num,
			loc_code,
			trace_id,
			inv_qty,
			lot_att01,
			lot_att02,
			lot_att03,
			lot_att04,
			lot_att05,
			lot_att06,
			lot_att07,
			lot_att08,
			lot_att09,
			lot_att10,
			lot_att11,
			lot_att12,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id
		) VALUES (
			#{id},
			#{tranTime},
			#{ownerCode},
			#{ownerName},
			#{skuCode},
			#{skuName},
			#{lotNum},
			#{locCode},
			#{traceId},
			#{invQty},
			#{lotAtt01},
			#{lotAtt02},
			#{lotAtt03},
			#{lotAtt04},
			#{lotAtt05},
			#{lotAtt06},
			#{lotAtt07},
			#{lotAtt08},
			#{lotAtt09},
			#{lotAtt10},
			#{lotAtt11},
			#{lotAtt12},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId}
		)
	</insert>
	
	<update id="update">
		UPDATE wm_inv_daily_temp SET 	
			tran_time = #{tranTime},
			owner_code = #{ownerCode},
			owner_name = #{ownerName},
			sku_code = #{skuCode},
			sku_name = #{skuName},
			lot_num = #{lotNum},
			loc_code = #{locCode},
			trace_id = #{traceId},
			inv_qty = #{invQty},
			lot_att01 = #{lotAtt01},
			lot_att02 = #{lotAtt02},
			lot_att03 = #{lotAtt03},
			lot_att04 = #{lotAtt04},
			lot_att05 = #{lotAtt05},
			lot_att06 = #{lotAtt06},
			lot_att07 = #{lotAtt07},
			lot_att08 = #{lotAtt08},
			lot_att09 = #{lotAtt09},
			lot_att10 = #{lotAtt10},
			lot_att11 = #{lotAtt11},
			lot_att12 = #{lotAtt12},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			org_id = #{orgId}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM wm_inv_daily_temp
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wm_inv_daily_temp SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinWmInvDailyTemp" statementType="STATEMENT">
		SELECT * FROM wm_inv_daily_temp WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>