<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.bms.finance.mapper.BmsBillDetailMapper">

    <sql id="bmsBillDetailColumns">
        a.id AS "id",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.rec_ver AS "recVer",
        a.bill_no AS "billNo",
        a.confirm_no AS "confirmNo",
        a.status AS "status",
        a.settle_model_code AS "settleModelCode",
        a.settle_object_code AS "settleObjectCode",
        a.settle_object_name AS "settleObjectName",
        a.settle_method AS "settleMethod",
        a.settle_category AS "settleCategory",
        a.sys_contract_no AS "sysContractNo",
        a.contract_no AS "contractNo",
        a.subcontract_no AS "subcontractNo",
        a.bill_subject_code AS "billSubjectCode",
        a.bill_subject_name AS "billSubjectName",
        a.bill_module AS "billModule",
        a.bill_category AS "billCategory",
        a.receivable_payable AS "receivablePayable",
        a.bill_terms_code AS "billTermsCode",
        a.bill_terms_desc AS "billTermsDesc",
        a.output_objects AS "outputObjects",
        a.formula_name AS "formulaName",
        a.formula_params_desc AS "formulaParamsDesc",
        a.bill_standard AS "billStandard",
        a.bill_qty AS "billQty",
        a.occurrence_qty AS "occurrenceQty",
        a.cost AS "cost",
        a.price AS "price",
        a.tax_price AS "taxPrice",
        a.contract_price AS "contractPrice",
        a.logistics_points AS "logisticsPoints",
        a.date_fm AS "dateFm",
        a.date_to AS "dateTo",
        a.business_date AS "businessDate",
        a.business_type AS "businessType",
        a.sys_order_no AS "sysOrderNo",
        a.customer_order_no AS "customerOrderNo",
        a.warehouse_code AS "warehouseCode",
        a.warehouse_name AS "warehouseName",
        a.supplier_code AS "supplierCode",
        a.supplier_name AS "supplierName",
        a.owner_code AS "ownerCode",
        a.owner_name AS "ownerName",
        a.consignee_code AS "consigneeCode",
        a.consignee_name AS "consigneeName",
        a.carrier_code AS "carrierCode",
        a.carrier_name AS "carrierName",
        a.sku_code AS "skuCode",
        a.sku_name AS "skuName",
        a.car_type AS "carType",
        a.car_no AS "carNo",
        a.driver AS "driver",
        a.quarantine_type AS "quarantineType",
        a.route AS "route",
        a.org_id AS "orgId"
    </sql>

    <sql id="extraColumns">
        b.name AS "orgName"
    </sql>

    <sql id="findPageWhere">
        a.del_flag = #{DEL_FLAG_NORMAL}
        ${dataScope}
        <if test="businessDateFm != null and businessDateFm != ''">
            <![CDATA[AND a.business_date >= #{businessDateFm}]]>
        </if>
        <if test="businessDateTo != null and businessDateTo != ''">
            <![CDATA[AND a.business_date <= #{businessDateTo}]]>
        </if>
        <if test="settleObjectCode != null and settleObjectCode != ''">
            AND a.settle_object_code LIKE concat('%',#{settleObjectCode},'%')
        </if>
        <if test="settleObjectName != null and settleObjectName != ''">
            AND a.settle_object_name LIKE concat('%',#{settleObjectName},'%')
        </if>
        <if test="billModule != null and billModule != ''">
            AND a.bill_module = #{billModule}
        </if>
        <if test="billCategory != null and billCategory != ''">
            AND a.bill_category = #{billCategory}
        </if>
        <if test="billSubjectCode != null and billSubjectCode != ''">
            AND a.bill_subject_code = #{billSubjectCode}
        </if>
        <if test="billTermsCode != null and billTermsCode != ''">
            AND a.bill_terms_code = #{billTermsCode}
        </if>
        <if test="sysContractNo != null and sysContractNo != ''">
            AND a.sys_contract_no LIKE concat('%',#{sysContractNo},'%')
        </if>
        <if test="contractNo != null and contractNo != ''">
            AND a.contract_no LIKE concat('%',#{contractNo},'%')
        </if>
        <if test="settleModelCode != null and settleModelCode != ''">
            AND a.settle_model_code LIKE concat('%',#{settleModelCode},'%')
        </if>
        <if test="receivablePayable != null and receivablePayable != ''">
            AND a.receivable_payable = #{receivablePayable}
        </if>
        <if test="billNo != null and billNo != ''">
            AND a.bill_no LIKE concat('%',#{billNo},'%')
        </if>
        <if test="sysOrderNo != null and sysOrderNo != ''">
            AND a.sys_order_no LIKE concat('%',#{sysOrderNo},'%')
        </if>
        <if test="customerOrderNo != null and customerOrderNo != ''">
            AND a.customer_order_no LIKE concat('%',#{customerOrderNo},'%')
        </if>
        <if test="warehouseCode != null and warehouseCode != ''">
            AND a.warehouse_code = #{warehouseCode}
        </if>
        <if test="supplierCode != null and supplierCode != ''">
            AND a.supplier_code LIKE concat('%', #{supplierCode}, '%')
        </if>
        <if test="supplierName != null and supplierName != ''">
            AND a.supplier_name LIKE concat('%', #{supplierName}, '%')
        </if>
        <if test="skuCode != null and skuCode != ''">
            AND a.sku_code LIKE concat('%', #{skuCode}, '%')
        </if>
        <if test="skuName != null and skuName != ''">
            AND a.sku_name LIKE concat('%', #{skuName}, '%')
        </if>
        <if test="confirmNo != null and confirmNo != ''">
            AND a.confirm_no LIKE concat('%', #{confirmNo}, '%')
        </if>
        <if test="filterZero != null and filterZero == 'Y'.toString()">
            AND (a.bill_standard != 0 OR a.bill_qty != 0 OR a.occurrence_qty != 0 OR a.cost != 0)
        </if>
    </sql>

    <sql id="bmsBillDetailJoins">
        LEFT JOIN sys_office b ON a.org_id = b.id
    </sql>

    <select id="get" resultType="com.yunyou.modules.bms.finance.entity.BmsBillDetail">
        SELECT
        <include refid="bmsBillDetailColumns"/>
        FROM bms_bill_detail a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.bms.finance.entity.BmsBillDetail">
        SELECT
        <include refid="bmsBillDetailColumns"/>
        FROM bms_bill_detail a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
            ${dataScope}
            <if test="billNo != null and billNo != ''">
                AND a.bill_no = #{billNo}
            </if>
            <if test="confirmNo != null and confirmNo != ''">
                AND a.confirm_no = #{confirmNo}
            </if>
            <if test="settleModelCode != null and settleModelCode != ''">
                AND a.settle_model_code = #{settleModelCode}
            </if>
            <if test="settleObjectCode != null and settleObjectCode != ''">
                AND a.settle_object_code = #{settleObjectCode}
            </if>
            <if test="sysContractNo != null and sysContractNo != ''">
                AND a.sys_contract_no = #{sysContractNo}
            </if>
            <if test="billSubjectCode != null and billSubjectCode != ''">
                AND a.bill_subject_code = #{billSubjectCode}
            </if>
            <if test="billCategory != null and billCategory != ''">
                AND a.bill_category = #{billCategory}
            </if>
            <if test="billTermsCode != null and billTermsCode != ''">
                AND a.bill_terms_code = #{billTermsCode}
            </if>
            <if test="sysOrderNo != null and sysOrderNo != ''">
                AND a.sys_order_no = #{sysOrderNo}
            </if>
            <if test="customerOrderNo != null and customerOrderNo != ''">
                AND a.customer_order_no = #{customerOrderNo}
            </if>
            <if test="warehouseCode != null and warehouseCode != ''">
                AND a.warehouse_code = #{warehouseCode}
            </if>
            <if test="receivablePayable != null and receivablePayable != ''">
                AND a.receivable_payable = #{receivablePayable}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.bms.finance.entity.BmsBillDetail">
        SELECT
        <include refid="bmsBillDetailColumns"/>
        FROM bms_bill_detail a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO bms_bill_detail
        (
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            rec_ver,
            bill_no,
            confirm_no,
            status,
            settle_model_code,
            settle_object_code,
            settle_object_name,
            settle_method,
            settle_category,
            sys_contract_no,
            contract_no,
            subcontract_no,
            bill_subject_code,
            bill_subject_name,
            bill_module,
            bill_category,
            receivable_payable,
            bill_terms_code,
            bill_terms_desc,
            output_objects,
            formula_name,
            formula_params_desc,
            bill_standard,
            bill_qty,
            occurrence_qty,
            cost,
            price,
            tax_price,
            contract_price,
            logistics_points,
            date_fm,
            date_to,
            business_date,
            business_type,
            sys_order_no,
            customer_order_no,
            warehouse_code,
            warehouse_name,
            supplier_code,
            supplier_name,
            owner_code,
            owner_name,
            consignee_code,
            consignee_name,
            carrier_code,
            carrier_name,
            sku_code,
            sku_name,
            car_type,
            car_no,
            driver,
            quarantine_type,
            route,
            org_id
        )
        VALUES
        (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{recVer},
            #{billNo},
            #{confirmNo},
            #{status},
            #{settleModelCode},
            #{settleObjectCode},
            #{settleObjectName},
            #{settleMethod},
            #{settleCategory},
            #{sysContractNo},
            #{contractNo},
            #{subcontractNo},
            #{billSubjectCode},
            #{billSubjectName},
            #{billModule},
            #{billCategory},
            #{receivablePayable},
            #{billTermsCode},
            #{billTermsDesc},
            #{outputObjects},
            #{formulaName},
            #{formulaParamsDesc},
            #{billStandard},
            #{billQty},
            #{occurrenceQty},
            #{cost},
            #{price},
            #{taxPrice},
            #{contractPrice},
            #{logisticsPoints},
            #{dateFm},
            #{dateTo},
            #{businessDate},
            #{businessType},
            #{sysOrderNo},
            #{customerOrderNo},
            #{warehouseCode},
            #{warehouseName},
            #{supplierCode},
            #{supplierName},
            #{ownerCode},
            #{ownerName},
            #{consigneeCode},
            #{consigneeName},
            #{carrierCode},
            #{carrierName},
            #{skuCode},
            #{skuName},
            #{carType},
            #{carNo},
            #{driver},
            #{quarantineType},
            #{route},
            #{orgId}
        )
    </insert>
    <!--批量插入-->
    <insert id="batchInsert">
        INSERT INTO bms_bill_detail(
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            rec_ver,
            bill_no,
            confirm_no,
            status,
            settle_model_code,
            settle_object_code,
            settle_object_name,
            settle_method,
            settle_category,
            sys_contract_no,
            contract_no,
            subcontract_no,
            bill_subject_code,
            bill_subject_name,
            bill_module,
            bill_category,
            receivable_payable,
            bill_terms_code,
            bill_terms_desc,
            output_objects,
            formula_name,
            formula_params_desc,
            bill_standard,
            bill_qty,
            occurrence_qty,
            cost,
            price,
            tax_price,
            contract_price,
            logistics_points,
            date_fm,
            date_to,
            business_date,
            business_type,
            sys_order_no,
            customer_order_no,
            warehouse_code,
            warehouse_name,
            supplier_code,
            supplier_name,
            owner_code,
            owner_name,
            consignee_code,
            consignee_name,
            carrier_code,
            carrier_name,
            sku_code,
            sku_name,
            car_type,
            car_no,
            driver,
            quarantine_type,
            route,
            org_id
        ) VALUES
        <foreach collection="items" item="item" separator=",">
        (
            #{item.id},
            #{item.createBy.id},
            #{item.createDate},
            #{item.updateBy.id},
            #{item.updateDate},
            #{item.remarks},
            #{item.delFlag},
            #{item.recVer},
            #{item.billNo},
            #{item.confirmNo},
            #{item.status},
            #{item.settleModelCode},
            #{item.settleObjectCode},
            #{item.settleObjectName},
            #{item.settleMethod},
            #{item.settleCategory},
            #{item.sysContractNo},
            #{item.contractNo},
            #{item.subcontractNo},
            #{item.billSubjectCode},
            #{item.billSubjectName},
            #{item.billModule},
            #{item.billCategory},
            #{item.receivablePayable},
            #{item.billTermsCode},
            #{item.billTermsDesc},
            #{item.outputObjects},
            #{item.formulaName},
            #{item.formulaParamsDesc},
            #{item.billStandard},
            #{item.billQty},
            #{item.occurrenceQty},
            #{item.cost},
            #{item.price},
            #{item.taxPrice},
            #{item.contractPrice},
            #{item.logisticsPoints},
            #{item.dateFm},
            #{item.dateTo},
            #{item.businessDate},
            #{item.businessType},
            #{item.sysOrderNo},
            #{item.customerOrderNo},
            #{item.warehouseCode},
            #{item.warehouseName},
            #{item.supplierCode},
            #{item.supplierName},
            #{item.ownerCode},
            #{item.ownerName},
            #{item.consigneeCode},
            #{item.consigneeName},
            #{item.carrierCode},
            #{item.carrierName},
            #{item.skuCode},
            #{item.skuName},
            #{item.carType},
            #{item.carNo},
            #{item.driver},
            #{item.quarantineType},
            #{item.route},
            #{item.orgId}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE bms_bill_detail
        SET update_by           = #{updateBy.id},
            update_date         = #{updateDate},
            remarks             = #{remarks},
            rec_ver             = rec_ver + 1,
            bill_no             = #{billNo},
            confirm_no          = #{confirmNo},
            status              = #{status},
            settle_model_code   = #{settleModelCode},
            settle_object_code  = #{settleObjectCode},
            settle_object_name  = #{settleObjectName},
            settle_method       = #{settleMethod},
            settle_category     = #{settleCategory},
            sys_contract_no     = #{sysContractNo},
            contract_no         = #{contractNo},
            subcontract_no      = #{subcontractNo},
            bill_subject_code   = #{billSubjectCode},
            bill_subject_name   = #{billSubjectName},
            bill_module         = #{billModule},
            bill_category       = #{billCategory},
            receivable_payable  = #{receivablePayable},
            bill_terms_code     = #{billTermsCode},
            bill_terms_desc     = #{billTermsDesc},
            output_objects      = #{outputObjects},
            formula_name        = #{formulaName},
            formula_params_desc = #{formulaParamsDesc},
            bill_standard       = #{billStandard},
            bill_qty            = #{billQty},
            occurrence_qty      = #{occurrenceQty},
            cost                = #{cost},
            price               = #{price},
            tax_price           = #{taxPrice},
            contract_price      = #{contractPrice},
            logistics_points    = #{logisticsPoints},
            date_fm             = #{dateFm},
            date_to             = #{dateTo},
            business_date       = #{businessDate},
            business_type       = #{businessType},
            sys_order_no        = #{sysOrderNo},
            customer_order_no   = #{customerOrderNo},
            warehouse_code      = #{warehouseCode},
            warehouse_name      = #{warehouseName},
            supplier_code       = #{supplierCode},
            supplier_name       = #{supplierName},
            owner_code          = #{ownerCode},
            owner_name          = #{ownerName},
            consignee_code      = #{consigneeCode},
            consignee_name      = #{consigneeName},
            carrier_code        = #{carrierCode},
            carrier_name        = #{carrierName},
            sku_code            = #{skuCode},
            sku_name            = #{skuName},
            car_type            = #{carType},
            car_no              = #{carNo},
            driver              = #{driver},
            quarantine_type     = #{quarantineType},
            route               = #{route},
            org_id              = #{orgId}
        WHERE id = #{id}
          AND rec_ver = #{recVer}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE bms_bill_detail
        SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>
    <!--物理删除-->
    <delete id="delete">
        DELETE FROM bms_bill_detail WHERE id = #{id}
    </delete>
    <delete id="batchDelete">
        DELETE FROM bms_bill_detail WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
  <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.bms.finance.entity.BmsBillDetail" statementType="STATEMENT">
        select * FROM bms_bill_detail where ${propertyName} = '${value}'
    </select>

    <select id="getEntity" resultType="com.yunyou.modules.bms.finance.entity.extend.BmsBillDetailEntity">
        SELECT
        <include refid="bmsBillDetailColumns"/>,
        <include refid="extraColumns"/>
        FROM bms_bill_detail a
        <include refid="bmsBillDetailJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findPage" resultType="com.yunyou.modules.bms.finance.entity.extend.BmsBillDetailEntity">
        SELECT
        <include refid="bmsBillDetailColumns"/>,
        <include refid="extraColumns"/>
        FROM bms_bill_detail a
        <include refid="bmsBillDetailJoins"/>
        <where>
            <include refid="findPageWhere"/>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.bill_no DESC, a.warehouse_code, a.settle_object_code, a.settle_model_code, a.bill_subject_name
            </otherwise>
        </choose>
    </select>

    <select id="getTotal" resultType="java.util.HashMap">
        SELECT
        sum(ifnull(a.occurrence_qty, 0)) AS "sumOccurrenceQty",
        sum(abs(ifnull(a.bill_qty, 0))) AS "sumBillQty",
        sum(abs(ifnull(a.cost, 0))) AS "sumCost"
        FROM bms_bill_detail a
        <include refid="bmsBillDetailJoins"/>
        <where>
            <include refid="findPageWhere"/>
        </where>
    </select>
    <!--查询运输费用明细-->
    <select id="findTransportPage" resultType="com.yunyou.modules.bms.finance.entity.extend.BmsBillDetailEntity">
        SELECT
        <include refid="bmsBillDetailColumns"/>,
        <include refid="extraColumns"/>
        FROM bms_bill_detail a
        <include refid="bmsBillDetailJoins"/>
        <where>
            <include refid="findPageWhere"/>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.bill_no DESC, a.warehouse_code, a.settle_object_code,
                         a.settle_model_code, a.business_date, a.carrier_code,
                         a.car_type, a.sys_contract_no, a.bill_subject_code
            </otherwise>
        </choose>
    </select>

    <select id="findBySettleModelAndBusinessData" resultType="com.yunyou.modules.bms.finance.entity.BmsBillDetail">
        SELECT <include refid="bmsBillDetailColumns"/>
        FROM bms_bill_detail a
        WHERE a.settle_model_code = #{settleModelCode}
          AND a.business_date &gt;= #{fmDate}
          AND a.business_date &lt;= #{toDate}
          AND a.org_id = #{orgId}
    </select>

    <select id="findByContractAndBusinessData" resultType="com.yunyou.modules.bms.finance.entity.BmsBillDetail">
        SELECT <include refid="bmsBillDetailColumns"/>
        FROM bms_bill_detail a
        WHERE a.sys_contract_no = #{sysContractNo}
        AND a.business_date &gt;= #{fmDate}
        AND a.business_date &lt;= #{toDate}
        AND a.org_id = #{orgId}
    </select>

</mapper>