<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.bms.basic.mapper.BmsBillFormulaMapper">

    <sql id="bmsBillFormulaColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.rec_ver AS "recVer",
		a.formula_code AS "formulaCode",
		a.formula_name AS "formulaName",
		a.formula AS "formula"
    </sql>

    <sql id="bmsBillFormulaJoins">
    </sql>

    <select id="get" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormula">
        SELECT
        <include refid="bmsBillFormulaColumns"/>
        FROM bms_bill_formula a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormula">
        SELECT
        <include refid="bmsBillFormulaColumns"/>
        FROM bms_bill_formula a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="formulaCode != null and formulaCode != ''">
                AND a.formula_code = #{formulaCode}
            </if>
            <if test="formulaName != null and formulaName != ''">
                AND a.formula_name = #{formulaName}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.formula_code
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormula">
        SELECT
        <include refid="bmsBillFormulaColumns"/>
        FROM bms_bill_formula a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO bms_bill_formula
        (
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            rec_ver,
            formula_code,
            formula_name,
            formula
        )
        VALUES
        (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{recVer},
            #{formulaCode},
            #{formulaName},
            #{formula}
        )
    </insert>

    <update id="update">
        UPDATE bms_bill_formula
        SET update_by    = #{updateBy.id},
            update_date  = #{updateDate},
            remarks      = #{remarks},
            rec_ver      = rec_ver + 1,
            formula_code = #{formulaCode},
            formula_name = #{formulaName},
            formula      = #{formula}
        WHERE id = #{id}
          AND rec_ver = #{recVer}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE bms_bill_formula
        SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>
    <!--物理删除-->
    <delete id="delete">
        DELETE FROM bms_bill_formula WHERE id = #{id}
    </delete>
    <delete id="remove">
        DELETE FROM bms_bill_formula WHERE formula_code = #{formulaCode}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormula" statementType="STATEMENT">
        select * FROM bms_bill_formula where ${propertyName} = '${value}'
    </select>

    <select id="getEntity" resultType="com.yunyou.modules.bms.basic.entity.extend.BmsBillFormulaEntity">
        SELECT
        <include refid="bmsBillFormulaColumns"/>
        FROM bms_bill_formula a
        <include refid="bmsBillFormulaJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="getByCode" resultType="com.yunyou.modules.bms.basic.entity.extend.BmsBillFormulaEntity">
        SELECT
        <include refid="bmsBillFormulaColumns"/>
        FROM bms_bill_formula a
        <include refid="bmsBillFormulaJoins"/>
        WHERE a.formula_code = #{formulaCode}
    </select>

    <select id="findPage" resultType="com.yunyou.modules.bms.basic.entity.extend.BmsBillFormulaEntity">
        SELECT
        <include refid="bmsBillFormulaColumns"/>
        FROM bms_bill_formula a
        <include refid="bmsBillFormulaJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="formulaCode != null and formulaCode != ''">
                AND a.formula_code like concat('%', #{formulaCode}, '%')
            </if>
            <if test="formulaName != null and formulaName != ''">
                AND a.formula_name like concat('%', #{formulaName}, '%')
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.formula_code
            </otherwise>
        </choose>
    </select>

</mapper>