<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.bms.basic.mapper.BmsBillFormulaParameterMapper">

    <sql id="bmsBillFormulaParameterColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.rec_ver AS "recVer",
		a.formula_code AS "formulaCode",
		a.parameter_name AS "parameterName",
		a.parameter_value AS "parameterValue"
    </sql>

    <sql id="bmsBillFormulaParameterJoins">

    </sql>

    <select id="get" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormulaParameter">
        SELECT
        <include refid="bmsBillFormulaParameterColumns"/>
        FROM bms_bill_formula_parameter a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormulaParameter">
        SELECT
        <include refid="bmsBillFormulaParameterColumns"/>
        FROM bms_bill_formula_parameter a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="formulaCode != null and formulaCode != ''">
                AND a.formula_code = #{formulaCode}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.parameter_name
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormulaParameter">
        SELECT
        <include refid="bmsBillFormulaParameterColumns"/>
        FROM bms_bill_formula_parameter a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.parameter_name
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
		INSERT INTO bms_bill_formula_parameter
		(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			rec_ver,
			del_flag,
			formula_code,
			parameter_name,
			parameter_value
		)
		VALUES
		(
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{recVer},
			#{delFlag},
			#{formulaCode},
			#{parameterName},
			#{parameterValue}
		)
    </insert>

    <update id="update">
		UPDATE bms_bill_formula_parameter
		SET update_by       = #{updateBy.id},
			update_date     = #{updateDate},
			rec_ver         = rec_ver + 1,
			formula_code    = #{formulaCode},
			parameter_name  = #{parameterName},
			parameter_value = #{parameterValue}
		WHERE id = #{id}
		  AND rec_ver = #{recVer}
    </update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE bms_bill_formula_parameter
		SET del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
    <!--物理删除-->
    <delete id="delete">
        DELETE FROM bms_bill_formula_parameter WHERE id = #{id}
    </delete>
    <delete id="remove">
        DELETE FROM bms_bill_formula_parameter WHERE formula_code = #{formulaCode}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.bms.basic.entity.BmsBillFormulaParameter" statementType="STATEMENT">
        select * FROM bms_bill_formula_parameter where ${propertyName} = '${value}'
    </select>

</mapper>