<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.bms.basic.mapper.BmsContractStorageSteppedPriceMapper">

    <sql id="bmsContractStorageSteppedPriceColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.rec_ver AS "recVer",
		a.fk_id AS "fkId",
		a.fm AS "fm",
		a.to AS "to",
		a.price AS "price",
		a.org_id AS "orgId"
    </sql>

    <sql id="bmsContractStorageSteppedPriceJoins">

    </sql>

    <select id="get" resultType="com.yunyou.modules.bms.basic.entity.BmsContractStorageSteppedPrice">
        SELECT
        <include refid="bmsContractStorageSteppedPriceColumns"/>
        FROM bms_contract_storage_stepped_price a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.bms.basic.entity.BmsContractStorageSteppedPrice">
        SELECT
        <include refid="bmsContractStorageSteppedPriceColumns"/>
        FROM bms_contract_storage_stepped_price a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
            ${dataScope}
            <if test="fkId != null and fkId != ''">
                AND a.fk_id = #{fkId}
            </if>
        </where>
        ORDER BY a.fm ASC
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.bms.basic.entity.BmsContractStorageSteppedPrice">
        SELECT
        <include refid="bmsContractStorageSteppedPriceColumns"/>
        FROM bms_contract_storage_stepped_price a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.fm ASC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO bms_contract_storage_stepped_price
        (
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            rec_ver,
            fk_id,
            fm,
            `to`,
            price,
            org_id
        )
        VALUES
        (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{recVer},
            #{fkId},
            #{fm},
            #{to},
            #{price},
            #{orgId}
        )
    </insert>

    <update id="update">
        UPDATE bms_contract_storage_stepped_price
        SET update_by   = #{updateBy.id},
            update_date = #{updateDate},
            remarks     = #{remarks},
            rec_ver     = rec_ver + 1,
            fk_id       = #{fkId},
            fm          = #{fm},
            `to`        = #{to},
            price       = #{price},
            org_id      = #{orgId}
        WHERE id = #{id}
          AND rec_ver = #{recVer}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE bms_contract_storage_stepped_price
        SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>
    <!--物理删除-->
    <update id="delete">
        DELETE FROM bms_contract_storage_stepped_price WHERE id = #{id}
    </update>

    <delete id="deleteByFkId">
        DELETE FROM bms_contract_storage_stepped_price WHERE fk_id = #{fkId}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.bms.basic.entity.BmsContractStorageSteppedPrice" statementType="STATEMENT">
        select * FROM bms_contract_storage_stepped_price where ${propertyName} = '${value}'
    </select>

    <select id="findByFkId" resultType="com.yunyou.modules.bms.basic.entity.BmsContractStorageSteppedPrice">
        SELECT
        <include refid="bmsContractStorageSteppedPriceColumns"/>
        FROM bms_contract_storage_stepped_price a
        WHERE a.fk_id = #{fkId}
        ORDER BY a.fm
    </select>
    <select id="findSteppedPriceByFkId" resultType="com.yunyou.modules.bms.basic.entity.extend.BmsContractSteppedPrice">
        SELECT a.id    AS "id",
               a.fk_id AS "fkId",
               a.fm    AS "fm",
               a.to    AS "to",
               a.price AS "price"
        FROM bms_contract_storage_stepped_price a
        WHERE a.fk_id = #{fkId}
        ORDER BY a.fm
    </select>

</mapper>