<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.bms.basic.mapper.BmsInvoiceObjectDetailMapper">

    <sql id="bmsInvoiceObjectDetailColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.object_id AS "bmsInvoiceObject.id",
		a.code AS "code",
		a.name AS "name",
		a.org_id AS "orgId"
    </sql>

    <sql id="bmsInvoiceObjectDetailJoins">
        LEFT JOIN bms_invoice_object b ON b.id = a.object_id AND a.org_id = b.org_id
    </sql>


    <select id="get" resultType="BmsInvoiceObjectDetail" >
        SELECT
        <include refid="bmsInvoiceObjectDetailColumns"/>
        FROM bms_invoice_object_detail a
        <include refid="bmsInvoiceObjectDetailJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="BmsInvoiceObjectDetail" >
        SELECT
        <include refid="bmsInvoiceObjectDetailColumns"/>
        FROM bms_invoice_object_detail a
        <include refid="bmsInvoiceObjectDetailJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="bmsInvoiceObject != null and bmsInvoiceObject.id != null and bmsInvoiceObject.id != ''">
                AND a.object_id = #{bmsInvoiceObject.id}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date ASC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="BmsInvoiceObjectDetail" >
        SELECT
        <include refid="bmsInvoiceObjectDetailColumns"/>
        FROM bms_invoice_object_detail a
        <include refid="bmsInvoiceObjectDetailJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date ASC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO bms_invoice_object_detail(
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            object_id,
            code,
            name,
            org_id
        ) VALUES (
             #{createBy.id},
             #{createDate},
             #{updateBy.id},
             #{updateDate},
             #{remarks},
             #{delFlag},
             #{bmsInvoiceObject.id},
             #{code},
             #{name},
             #{orgId}
         )
    </insert>

    <update id="update">
        UPDATE bms_invoice_object_detail
        SET update_by   = #{updateBy.id},
            update_date = #{updateDate},
            remarks     = #{remarks},
            object_id   = #{bmsInvoiceObject.id},
            code        = #{code},
            name        = #{name},
            org_id      = #{orgId}
        WHERE id = #{id}
    </update>


    <!--物理删除-->
    <update id="delete">
        DELETE FROM bms_invoice_object_detail
        <choose>
            <when test="id !=null and id != ''">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE object_id = #{bmsInvoiceObject.id}
            </otherwise>
        </choose>
    </update>

    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE bms_invoice_object_detail SET
        del_flag = #{DEL_FLAG_DELETE}
        <choose>
            <when test="id !=null and id != ''">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE object_id = #{bmsInvoiceObject.id}
            </otherwise>
        </choose>
    </update>


    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="BmsInvoiceObjectDetail" statementType="STATEMENT">
        select * FROM bms_invoice_object_detail  where ${propertyName} = '${value}'
    </select>

    <select id="getByCode" resultType="BmsInvoiceObjectDetail" >
        SELECT
        <include refid="bmsInvoiceObjectDetailColumns"/>
        FROM bms_invoice_object_detail a
        <include refid="bmsInvoiceObjectDetailJoins"/>
        WHERE a.code = #{code}
        and a.org_id = #{orgId}
    </select>

</mapper>