<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.bms.basic.mapper.BmsSettleObjectMapper">

    <sql id="bmsSettleObjectColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.rec_ver AS "recVer",
		a.settle_object_code AS "settleObjectCode",
		a.settle_object_name AS "settleObjectName",
		a.settle_category AS "settleCategory",
		a.settle_type AS "settleType",
		a.project_code AS "projectCode",
		a.project_name AS "projectName",
		a.telephone AS "telephone",
		a.contacts AS "contacts",
		a.address AS "address",
		a.bank AS "bank",
		a.bank_account AS "bankAccount",
		a.bank_account_name AS "bankAccountName",
		a.org_id AS "orgId"
    </sql>

    <sql id="bmsSettleObjectJoins">

    </sql>

    <select id="get" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject">
        SELECT
        <include refid="bmsSettleObjectColumns"/>
        FROM bms_settle_object a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject">
        SELECT
        <include refid="bmsSettleObjectColumns"/>
        FROM bms_settle_object a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
            ${dataScope}
            <if test="settleObjectCode != null and settleObjectCode != ''">
                AND a.settle_object_code like concat('%',#{settleObjectCode},'%')
            </if>
            <if test="settleObjectName != null and settleObjectName != ''">
                AND a.settle_object_name like concat('%',#{settleObjectName},'%')
            </if>
            <if test="settleType != null and settleType != ''">
                AND a.settle_type = #{settleType}
            </if>
            <if test="settleCategory != null and settleCategory != ''">
                AND a.settle_category = #{settleCategory}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject">
        SELECT
        <include refid="bmsSettleObjectColumns"/>
        FROM bms_settle_object a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO bms_settle_object
        (
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            rec_ver,
            settle_object_code,
            settle_object_name,
            settle_type,
            settle_category,
            project_code,
            project_name,
            telephone,
            contacts,
            address,
            bank,
            bank_account,
            bank_account_name,
            org_id
        )
        VALUES
        (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{recVer},
            #{settleObjectCode},
            #{settleObjectName},
            #{settleType},
            #{settleCategory},
            #{projectCode},
            #{projectName},
            #{telephone},
            #{contacts},
            #{address},
            #{bank},
            #{bankAccount},
            #{bankAccountName},
            #{orgId}
        )
    </insert>

    <update id="update">
        UPDATE bms_settle_object
        SET update_by          = #{updateBy.id},
            update_date        = #{updateDate},
            remarks            = #{remarks},
            rec_ver            = rec_ver + 1,
            settle_object_code = #{settleObjectCode},
            settle_object_name = #{settleObjectName},
            settle_type        = #{settleType},
            settle_category    = #{settleCategory},
            project_code       = #{projectCode},
            project_name       = #{projectName},
            telephone          = #{telephone},
            contacts           = #{contacts},
            address            = #{address},
            bank               = #{bank},
            bank_account       = #{bankAccount},
            bank_account_name  = #{bankAccountName},
            org_id             = #{orgId}
        WHERE id = #{id}
          AND rec_ver = #{recVer}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE bms_settle_object
        SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>
    <!--物理删除-->
    <delete id="delete">
        DELETE
        FROM bms_settle_object
        WHERE id = #{id}
    </delete>

    <delete id="remove">
        DELETE FROM bms_settle_object WHERE settle_object_code = #{code} AND org_id = #{orgId}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject" statementType="STATEMENT">
        select * FROM bms_settle_object where ${propertyName} = '${value}'
    </select>

    <select id="findPage" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject">
        SELECT
        <include refid="bmsSettleObjectColumns"/>
        FROM bms_settle_object a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="orgId != null and orgId != ''">
                AND a.org_id = #{orgId}
            </if>
            <if test="settleObjectCode != null and settleObjectCode != ''">
                AND a.settle_object_code LIKE concat('%',#{settleObjectCode},'%')
            </if>
            <if test="settleObjectName != null and settleObjectName != ''">
                AND a.settle_object_name LIKE concat('%',#{settleObjectName},'%')
            </if>
            <if test="settleType != null and settleType != ''">
                AND a.settle_type = #{settleType}
            </if>
            <if test="settleCategory != null and settleCategory != ''">
                AND a.settle_category = #{settleCategory}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findGrid" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject">
        SELECT
        <include refid="bmsSettleObjectColumns"/>
        FROM bms_settle_object a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="orgId != null and orgId != ''">
                AND a.org_id = #{orgId}
            </if>
            <if test="settleObjectCode != null and settleObjectCode != ''">
                AND a.settle_object_code LIKE concat('%',#{settleObjectCode},'%')
            </if>
            <if test="settleObjectName != null and settleObjectName != ''">
                AND a.settle_object_name LIKE concat('%',#{settleObjectName},'%')
            </if>
            <if test="settleType != null and settleType != ''">
                AND a.settle_type = #{settleType}
            </if>
            <if test="settleCategory != null and settleCategory != ''">
                AND a.settle_category = #{settleCategory}
            </if>
            <if test="codeAndName != null and codeAndName != ''">
                AND (a.settle_object_code LIKE concat('%',#{codeAndName},'%') OR a.settle_object_name LIKE concat('%',#{codeAndName},'%'))
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="getByCode" resultType="com.yunyou.modules.bms.basic.entity.BmsSettleObject">
        SELECT
        <include refid="bmsSettleObjectColumns"/>
        FROM bms_settle_object a
        WHERE a.del_flag = '0'
        AND a.settle_object_code = #{code}
        AND a.org_id = #{orgId}
    </select>

</mapper>