<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.tms.order.manager.mapper.TmPreTransportOrderMapper">

    <sql id="tmTransportOrderHeaderColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.transport_no AS "transportNo",
		a.order_time AS "orderTime",
		a.order_type AS "orderType",
		a.order_status AS "orderStatus",
		a.customer_no AS "customerNo",
		a.tracking_no AS "trackingNo",
		a.principal_code AS "principalCode",
		a.customer_code AS "customerCode",
		a.brand AS "brand",
		a.receive_outlet_code AS "receiveOutletCode",
		a.transport_method AS "transportMethod",
		a.delivery_method AS "deliveryMethod",
		a.outlet_code AS "outletCode",
		a.ship_code AS "shipCode",
		a.ship_city_id AS "shipCityId",
		a.ship_city_name AS "shipCityName",
		a.shipper AS "shipper",
		a.shipper_tel AS "shipperTel",
		a.ship_address AS "shipAddress",
		a.consignee_code AS "consigneeCode",
		a.consignee_city_id AS "consigneeCityId",
		a.consignee_city_name AS "consigneeCityName",
		a.consignee AS "consignee",
		a.consignee_tel AS "consigneeTel",
		a.consignee_address AS "consigneeAddress",
		a.designated_sign_by AS "designatedSignBy",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer",
		a.base_org_id AS "baseOrgId",
        a.dispatch_plan_no AS "dispatchPlanNo",
        a.data_source AS "dataSource",
        a.source_no AS "sourceNo"
    </sql>

    <sql id="tmTransportOrderSkuColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.transport_no AS "transportNo",
		a.sku_code AS "skuCode",
		a.qty AS "qty",
		a.weight AS "weight",
		a.cubic AS "cubic",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer",
		a.base_org_id AS "baseOrgId",
		a.owner_code AS "ownerCode"
    </sql>

    <sql id="tmTransportOrderCostColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.transport_no AS "transportNo",
		a.cost_type AS "costType",
		a.settlement_method AS "settlementMethod",
		a.settlement_code AS "settlementCode",
		a.settlement_type AS "settlementType",
		a.amount AS "amount",
		a.is_bill AS "isBill",
		a.bill_voucher AS "billVoucher",
		a.org_id AS "orgId",
		a.rec_ver AS "recVer",
		a.base_org_id AS "baseOrgId"
    </sql>

    <select id="findOrderPage" resultType="com.yunyou.modules.tms.order.entity.extend.TmPreTransportOrderEntity" >
		SELECT <include refid="tmTransportOrderHeaderColumns"/>
		FROM tm_pre_transport_order_header a
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		  ${dataScope}
		<if test="transportNo != null and transportNo != ''">
			AND a.transport_no LIKE concat('%', #{transportNo}, '%')
		</if>
		<if test="customerNo != null and customerNo != ''">
			AND a.customer_no LIKE concat('%', #{customerNo}, '%')
		</if>
		<if test="orderTimeFm != null and orderTimeFm != ''">
			AND a.order_time &gt;= #{orderTimeFm}
		</if>
		<if test="orderTimeTo != null and orderTimeTo != ''">
			AND a.order_time &lt;= #{orderTimeTo}
		</if>
		<if test="orderType != null and orderType != ''">
			AND a.order_type = #{orderType}
		</if>
		<if test="orderStatus != null and orderStatus != ''">
			AND a.order_status = #{orderStatus}
		</if>
        <if test="principalCode != null and principalCode != ''">
            AND a.principal_code = #{principalCode}
        </if>
		<if test="customerCode != null and customerCode != ''">
			AND a.customer_code = #{customerCode}
		</if>
        <if test="dispatchPlanNo != null and dispatchPlanNo != ''">
            AND a.dispatch_plan_no = #{dispatchPlanNo}
        </if>
        <if test="sourceNo != null and sourceNo != ''">
            AND a.source_no = #{sourceNo}
        </if>
        <if test="dataSource != null and dataSource != ''">
            AND a.data_source = #{dataSource}
        </if>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findSkuPage" resultType="com.yunyou.modules.tms.order.entity.extend.TmPreTransportOrderSkuEntity">
		SELECT
		    tto.transport_obj_name AS "ownerName",
		    ti.sku_name            AS "skuName",
		    <include refid="tmTransportOrderSkuColumns"/>
		FROM tm_pre_transport_order_sku a
		LEFT JOIN tm_transport_obj tto ON a.owner_code = tto.transport_obj_code AND a.base_org_id = tto.org_id
		LEFT JOIN tm_item ti ON a.owner_code = ti.owner_code AND a.sku_code = ti.sku_code AND a.base_org_id = ti.org_id
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		  ${dataScope}
		<if test="transportNo != null and transportNo != ''">
			AND a.transport_no = #{transportNo}
		</if>
		<if test="ownerCode != null and ownerCode != ''">
			AND a.owner_code = #{ownerCode}
		</if>
		<if test="skuCode != null and skuCode != ''">
			AND a.sku_code = #{skuCode}
		</if>
		<if test="baseOrgId != null and baseOrgId != ''">
			AND a.base_org_id = #{baseOrgId}
		</if>
		<if test="orgId != null and orgId != ''">
			AND a.org_id = #{orgId}
		</if>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findSkuList" resultType="com.yunyou.modules.tms.order.entity.extend.TmPreTransportOrderSkuEntity">
		SELECT
		    tto.transport_obj_name AS "ownerName",
		    ti.sku_name            AS "skuName",
		    ti.gross_weight        AS "skuWeight",
		    ti.cubic               AS "skuCubic",
		    <include refid="tmTransportOrderSkuColumns"/>
		FROM tm_pre_transport_order_sku a
		LEFT JOIN tm_transport_obj tto ON a.owner_code = tto.transport_obj_code AND a.base_org_id = tto.org_id
		LEFT JOIN tm_item ti ON a.owner_code = ti.owner_code AND a.sku_code = ti.sku_code AND a.base_org_id = ti.org_id
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="transportNo != null and transportNo != ''">
			AND a.transport_no = #{transportNo}
		</if>
		<if test="ownerCode != null and ownerCode != ''">
			AND a.owner_code = #{ownerCode}
		</if>
		<if test="skuCode != null and skuCode != ''">
			AND a.sku_code = #{skuCode}
		</if>
		<if test="baseOrgId != null and baseOrgId != ''">
			AND a.base_org_id = #{baseOrgId}
		</if>
		<if test="orgId != null and orgId != ''">
			AND a.org_id = #{orgId}
		</if>
	</select>

	<select id="findCostPage" resultType="com.yunyou.modules.tms.order.entity.extend.TmPreTransportOrderCostEntity">
		SELECT
		    b.transport_obj_name AS "settlementName",
		    <include refid="tmTransportOrderCostColumns"/>
		FROM tm_pre_transport_order_cost a
		LEFT JOIN tm_transport_obj b ON a.settlement_code = b.transport_obj_code AND a.base_org_id = b.org_id
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		  ${dataScope}
		<if test="transportNo != null and transportNo != ''">
			AND a.transport_no = #{transportNo}
		</if>
		<if test="baseOrgId != null and baseOrgId != ''">
			AND a.base_org_id = #{baseOrgId}
		</if>
		<if test="orgId != null and orgId != ''">
			AND a.org_id = #{orgId}
		</if>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findCostList" resultType="com.yunyou.modules.tms.order.entity.extend.TmPreTransportOrderCostEntity">
		SELECT
		    b.transport_obj_name AS "settlementName",
		    <include refid="tmTransportOrderCostColumns"/>
		FROM tm_pre_transport_order_cost a
		LEFT JOIN tm_transport_obj b ON a.settlement_code = b.transport_obj_code AND a.base_org_id = b.org_id
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="transportNo != null and transportNo != ''">
			AND a.transport_no = #{transportNo}
		</if>
		<if test="baseOrgId != null and baseOrgId != ''">
			AND a.base_org_id = #{baseOrgId}
		</if>
		<if test="orgId != null and orgId != ''">
			AND a.org_id = #{orgId}
		</if>
	</select>

	<select id="getEntity" resultType="com.yunyou.modules.tms.order.entity.extend.TmPreTransportOrderEntity">
		SELECT
			<include refid="tmTransportOrderHeaderColumns"/>,
		    so.name AS "orgName"
		FROM tm_pre_transport_order_header a
		 LEFT JOIN sys_office so ON a.org_id = so.id
		WHERE a.id = #{id}
	</select>

	<select id="findHeader" resultType="com.yunyou.modules.tms.order.entity.TmPreTransportOrderHeader" >
		SELECT
		<include refid="tmTransportOrderHeaderColumns"/>
		FROM tm_pre_transport_order_header a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="transportNo != null and transportNo != ''">
				AND a.transport_no LIKE concat('%', #{transportNo}, '%')
			</if>
			<if test="customerNo != null and customerNo != ''">
				AND a.customer_no LIKE concat('%', #{customerNo}, '%')
			</if>
			<if test="orderTimeFm != null and orderTimeFm != ''">
				AND a.order_time &gt;= #{orderTimeFm}
			</if>
			<if test="orderTimeTo != null and orderTimeTo != ''">
				AND a.order_time &lt;= #{orderTimeTo}
			</if>
			<if test="orderType != null and orderType != ''">
				AND a.order_type = #{orderType}
			</if>
			<if test="orderStatus != null and orderStatus != ''">
				AND a.order_status = #{orderStatus}
			</if>
			<if test="principalCode != null and principalCode != ''">
				AND a.principal_code = #{principalCode}
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
			<if test="baseOrgId != null and baseOrgId != ''">
				AND a.base_org_id = #{baseOrgId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findOutletByAreaId" resultType="java.lang.String">
		SELECT a.transport_obj_code
		FROM tm_transport_obj_scope a
			LEFT JOIN tm_transport_scope b ON a.transport_scope_code = b.`code` AND a.org_id = b.org_id
			LEFT JOIN tm_transport_scope_area c ON b.id = c.head_id
		WHERE EXISTS (SELECT 1 FROM sys_area t WHERE t.id = #{areaId} AND t.id = c.area_id)
		  AND EXISTS (SELECT 1 FROM tm_transport_obj t WHERE t.transport_obj_type LIKE '%OUTLET%' AND a.transport_obj_code = t.transport_obj_code AND a.org_id = t.org_id)
		  AND a.org_id = #{baseOrgId}
	</select>

	<delete id="deleteSkuByNo">
		DELETE FROM tm_pre_transport_order_sku WHERE transport_no = #{transportNo} AND org_id = #{orgId}
	</delete>

	<delete id="deleteDeliveryByNo">
		DELETE FROM tm_pre_transport_order_delivery WHERE transport_no = #{transportNo} AND org_id = #{orgId}
	</delete>

</mapper>