<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.outbound.mapper.BanQinWmPickHeaderMapper">
    
	<sql id="banQinWmPickHeaderColumns">
		a.id AS "id",
		a.pick_no AS "pickNo",
		a.def1 AS "def1",
		a.def2 AS "def2",
		a.def3 AS "def3",
		a.def4 AS "def4",
		a.def5 AS "def5",
		a.remarks AS "remarks",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId"
	</sql>
	
	<sql id="banQinWmPickHeaderJoins">
		LEFT JOIN sys_office so on a.org_id = so.id
        LEFT JOIN sys_user creater on creater.id = a.create_by
        LEFT JOIN sys_user updater on updater.id = a.update_by
	</sql>

	<select id="get" resultType="BanQinWmPickHeader" >
		SELECT 
			<include refid="banQinWmPickHeaderColumns"/>
		FROM wm_pick_header a
		<include refid="banQinWmPickHeaderJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="getEntity" resultType="BanQinWmPickHeaderEntity" >
		SELECT
		<include refid="banQinWmPickHeaderColumns"/>
		FROM wm_pick_header a
		<include refid="banQinWmPickHeaderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinWmPickHeader" >
		SELECT 
			<include refid="banQinWmPickHeaderColumns"/>
		FROM wm_pick_header a
		<include refid="banQinWmPickHeaderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.org_id = #{orgId}
			${dataScope}
			<if test="pickNo != null and pickNo != ''">
				AND a.pick_no = #{pickNo}
			</if>
		</where>
	</select>

	<select id="findPage" resultType="BanQinWmPickHeaderEntity" >
		SELECT
			<include refid="banQinWmPickHeaderColumns"/>,
			creater.name AS "createBy.name",
			updater.name AS "updateBy.name",
			so.name AS orgName
		FROM wm_pick_header a
		<include refid="banQinWmPickHeaderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="pickNo != null and pickNo != ''">
				AND a.pick_no = #{pickNo}
			</if>
			<if test="createDateFm != null and createDateFm !=''">
				<![CDATA[ AND a.create_date >= #{createDateFm} ]]>
			</if>
			<if test="createDateTo != null and createDateTo !=''">
				<![CDATA[ AND a.create_date <= #{createDateTo} ]]>
			</if>
			<if test="createBy.id != null and createBy.id != ''">
				AND a.create_by = #{createBy.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BanQinWmPickHeader" >
		SELECT 
			<include refid="banQinWmPickHeaderColumns"/>
		FROM wm_pick_header a
		<include refid="banQinWmPickHeaderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wm_pick_header(
			id,
			pick_no,
			def1,
			def2,
			def3,
			def4,
			def5,
			remarks,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id
		) VALUES (
			#{id},
			#{pickNo},
			#{def1},
			#{def2},
			#{def3},
			#{def4},
			#{def5},
			#{remarks},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId}
		)
	</insert>
	
	<update id="update">
		UPDATE wm_pick_header SET
			pick_no = #{pickNo},
			def1 = #{def1},
			def2 = #{def2},
			def3 = #{def3},
			def4 = #{def4},
			def5 = #{def5},
			remarks = #{remarks},
			rec_ver = #{recVer} + 1,
			create_by = #{createBy.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			org_id = #{orgId}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM wm_pick_header
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wm_pick_header SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinWmPickHeader" statementType="STATEMENT">
		SELECT * FROM wm_pick_header WHERE ${propertyName} = '${value}'
	</select>

	<select id="getPickOrder" resultType="com.yunyou.modules.wms.report.entity.WmPickOrder">
		SELECT
			wph.pick_no AS pickNo,
			wsa.loc_code AS locCode,
			wsa.trace_id AS traceId,
			wsa.sku_code AS skuCode,
			cws.sku_name AS skuName,
			wsa.lot_num AS lotNum,
			cdpa.cdpa_format AS packDesc,
			sum(wsa.qty_ea) AS qtyEa,
			wsa.to_loc AS toLoc,
			wsa.to_id AS toId,
			wsa.consignee_code AS consigneeCode,
			consignee.ebcu_name_cn AS consigneeName
		FROM
			wm_pick_header wph
		LEFT JOIN wm_so_alloc wsa ON wsa.pick_no = wph.pick_no AND wsa.org_id = wph.org_id
		LEFT JOIN cd_wh_sku cws ON wsa.sku_code = cws.sku_code AND wsa.owner_code = cws.owner_code AND wsa.org_id = cws.org_id
		LEFT JOIN cd_wh_package cdpa ON cdpa.org_id = wsa.org_id AND cdpa.cdpa_code = wsa.pack_code
		LEFT JOIN eb_customer consignee ON wsa.consignee_code = consignee.ebcu_customer_no and wsa.org_id = consignee.org_id
		WHERE
			1 = 1
		AND wsa.STATUS IN ( '30', '40' )
		AND wph.id IN
		<foreach collection="list" item="pickId" index="pickId" open="(" separator="," close=")">
			#{pickId}
		</foreach>
		group by
			wph.pick_no,
			wsa.loc_code,
			wsa.trace_id,
			wsa.sku_code,
			cws.sku_name,
			wsa.lot_num,
			cdpa.cdpa_format,
			wsa.to_loc,
			wsa.to_id,
			wsa.consignee_code,
			consignee.ebcu_name_cn
		ORDER BY
			wsa.sku_code,
			wsa.loc_code,
			wsa.consignee_code
	</select>

</mapper>