<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.wms.outbound.mapper.BanQinWmSoPreallocMapper">
    
	<sql id="banQinWmSoPreallocColumns">
		a.id AS "id",
		a.prealloc_id AS "preallocId",
		a.wave_no AS "waveNo",
		a.so_no AS "soNo",
		a.line_no AS "lineNo",
		a.owner_code AS "ownerCode",
		a.sku_code AS "skuCode",
		a.lot_num AS "lotNum",
		a.pack_code AS "packCode",
		a.uom AS "uom",
		a.qty_prealloc_uom AS "qtyPreallocUom",
		a.qty_prealloc_ea AS "qtyPreallocEa",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.org_id AS "orgId"
	</sql>
	
	<sql id="banQinWmSoPreallocJoins">
		
	</sql>

	<select id="get" resultType="BanQinWmSoPrealloc" >
		SELECT 
			<include refid="banQinWmSoPreallocColumns"/>
		FROM wm_so_prealloc a
		<include refid="banQinWmSoPreallocJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BanQinWmSoPrealloc" >
		SELECT 
			<include refid="banQinWmSoPreallocColumns"/>
		FROM wm_so_prealloc a
		<include refid="banQinWmSoPreallocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.org_id = #{orgId}
			${dataScope}
			<if test="preallocId != null and preallocId != ''">
				AND a.prealloc_id = #{preallocId}
			</if>
			<if test="waveNo != null and waveNo != ''">
				AND a.wave_no = #{waveNo}
			</if>
			<if test="soNo != null and soNo != ''">
				AND a.so_no = #{soNo}
			</if>
			<if test="lineNo != null and lineNo != ''">
				AND a.line_no = #{lineNo}
			</if>
			<if test="ownerCode != null and ownerCode != ''">
				AND a.owner_code = #{ownerCode}
			</if>
			<if test="skuCode != null and skuCode != ''">
				AND a.sku_code = #{skuCode}
			</if>
			<if test="lotNum != null and lotNum != ''">
				AND a.lot_num = #{lotNum}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
    
    <select id="findEntity" resultType="BanQinWmSoPreallocEntity">
        SELECT wsp.id,
			wsp.prealloc_id,
			wsp.wave_no,
			wsp.so_no,
			wsp.line_no,
			wsp.owner_code,
			wsp.sku_code,
			wsp.lot_num,
			wsp.pack_code,
			wsp.uom,
			wsp.qty_prealloc_uom,
			wsp.qty_prealloc_ea,
			wsp.rec_ver,
			wsp.org_id,
			ec.ebcu_name_cn,
			cws.sku_name,
			cws.quick_code,
			cdpa.cdpa_format,
			cdpr.cdpr_desc,
			wila.lot_att01,
			wila.lot_att02,
			wila.lot_att03,
			wila.lot_att04,
			wila.lot_att05,
			wila.lot_att06,
			wila.lot_att07,
			wila.lot_att08,
			wila.lot_att09,
			wila.lot_att10,
			wila.lot_att11,
			wila.lot_att12
        FROM wm_so_prealloc wsp
        LEFT JOIN cd_wh_sku cws ON wsp.sku_code = cws.sku_code AND wsp.owner_code = cws.owner_code AND wsp.org_id = cws.org_id
        LEFT JOIN cd_wh_package cdpa ON wsp.pack_code = cdpa.cdpa_code AND wsp.org_id = cdpa.org_id
        LEFT JOIN cd_wh_package_relation cdpr ON cdpa.pm_code = cdpr.cdpr_cdpa_pm_code AND cdpa.org_id = cdpr.org_id AND wsp.uom = cdpr.cdpr_unit_level
        LEFT JOIN eb_customer ec ON ec.pm_code = wsp.owner_code AND ec.org_id = wsp.org_id
        LEFT JOIN wm_inv_lot_att wila ON wsp.lot_num = wila.lot_num AND wsp.org_id = wila.org_id
        WHERE 1 = 1
        AND wsp.wave_no = #{waveno}
        AND wsp.so_no = #{sono}
        AND wsp.line_no = #{lineno}
        AND wsp.prealloc_id = #{preallocid}
        AND wsp.org_id = #{orgid}
        ORDER BY wsp.line_no, wsp.prealloc_id
    </select>
    
    <select id="getWmInterceptSoPrealloc" resultType="BanQinWmSoPreallocEntity">
        SELECT <include refid="banQinWmSoPreallocColumns"/>
          FROM wm_so_prealloc wsp
          LEFT JOIN wm_so_header wsh ON wsh.so_no = wsp.so_no AND wsh.org_id = wsp.org_id
          LEFT JOIN wm_so_detail wsd ON wsd.so_no = wsp.so_no AND wsd.line_no = wsp.line_no AND wsd.org_id = wsp.org_id
         WHERE 1 = 1
           AND wsp.qty_prealloc_ea > 0
           AND wsd.status != '90'
           AND wsh.status != '90'
           AND wsh.status != '99'
           AND (wsh.intercept_status = '10' OR wsh.intercept_status = '20')
           AND wsp.wave_no IN
           <foreach collection="waveNos" item="waveNo" index="waveNo" open="(" separator="," close=")">
               #{waveNo}
           </foreach>
           AND wsp.so_no IN
           <foreach collection="soNos" item="soNo" index="soNO" open="(" separator="," close=")">
               #{soNo}
           </foreach>
           AND (wsp.so_no, wsp.line_no) IN (${lineNos})
           AND wsp.prealloc_id IN
           <foreach collection="preallocIds" item="preallocId" index="preallocId" open="(" separator="," close=")">
               #{preallocId}
           </foreach>
           AND wsp.org_id = #{orgId}
        ORDER BY wsp.prealloc_id
    </select>
    
    <select id="getWmSoPreallocByNo" resultType="BanQinWmSoPreallocEntity">
        SELECT <include refid="banQinWmSoPreallocColumns"/>
        FROM wm_so_prealloc wsp LEFT JOIN wm_so_header wsh ON wsh.so_no = wsp.so_no AND wsh.org_id = wsp.org_id
        LEFT JOIN wm_so_detail wsd ON wsd.so_no = wsp.so_no AND wsd.line_no = wsp.line_no AND wsd.org_id = wsp.org_id
        WHERE 1 = 1
        AND wsp.qty_prealloc_ea > 0
        AND wsd.status != '90'
        AND wsh.status != '90'
        AND wsh.status != '99'
        AND (wsh.intercept_status = '00' OR wsh.intercept_status = '90')
        AND wsh.hold_status = '00'
        AND wsp.wave_no IN
        <foreach collection="waveNos" item="waveNo" index="waveNo" open="(" separator="," close=")">
            #{waveNo}
        </foreach>
        AND wsp.so_no IN
        <foreach collection="soNos" item="soNo" index="soNO" open="(" separator="," close=")">
            #{soNo}
        </foreach>
        AND (wsp.so_no, wsp.line_no) IN (${lineNos})
        AND wsp.prealloc_id IN
        <foreach collection="preallocIds" item="preallocId" index="preallocId" open="(" separator="," close=")">
            #{preallocId}
        </foreach>
        AND wsp.org_id = #{orgId}
        ORDER BY wsp.prealloc_id
    </select>
	
	<select id="findAllList" resultType="BanQinWmSoPrealloc" >
		SELECT 
			<include refid="banQinWmSoPreallocColumns"/>
		FROM wm_so_prealloc a
		<include refid="banQinWmSoPreallocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wm_so_prealloc(
			id,
			prealloc_id,
			wave_no,
			so_no,
			line_no,
			owner_code,
			sku_code,
			lot_num,
			pack_code,
			uom,
			qty_prealloc_uom,
			qty_prealloc_ea,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			org_id
		) VALUES (
			#{id},
			#{preallocId},
			#{waveNo},
			#{soNo},
			#{lineNo},
			#{ownerCode},
			#{skuCode},
			#{lotNum},
			#{packCode},
			#{uom},
			#{qtyPreallocUom},
			#{qtyPreallocEa},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orgId}
		)
	</insert>
	
	<update id="update">
		UPDATE wm_so_prealloc SET 	
			prealloc_id = #{preallocId},
			wave_no = #{waveNo},
			so_no = #{soNo},
			line_no = #{lineNo},
			owner_code = #{ownerCode},
			sku_code = #{skuCode},
			lot_num = #{lotNum},
			pack_code = #{packCode},
			uom = #{uom},
			qty_prealloc_uom = #{qtyPreallocUom},
			qty_prealloc_ea = #{qtyPreallocEa},
			rec_ver = #{recVer} + 1,
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			org_id = #{orgId}
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM wm_so_prealloc
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wm_so_prealloc SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>

	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BanQinWmSoPrealloc" statementType="STATEMENT">
		SELECT * FROM wm_so_prealloc WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>