<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysBmsSkuSupplierMapper">
    
	<sql id="sysBmsSkuSupplierColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.sku_id AS "skuId",
		a.supplier_code AS "supplierCode",
		a.supplier_name AS "supplierName",
		a.data_set AS "dataSet"
	</sql>
	
	<sql id="sysBmsSkuSupplierJoins">
		
	</sql>
	
	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysBmsSkuSupplier" >
		SELECT 
			<include refid="sysBmsSkuSupplierColumns"/>
		FROM sys_bms_sku_supplier a
		<include refid="sysBmsSkuSupplierJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysBmsSkuSupplier" >
		SELECT 
			<include refid="sysBmsSkuSupplierColumns"/>
		FROM sys_bms_sku_supplier a
		<include refid="sysBmsSkuSupplierJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.data_set = #{dataSet}
			${dataScope}
			<if test="skuId != null and skuId != ''">
				AND a.sku_id = #{skuId}
			</if>
			<if test="supplierCode != null and supplierCode != ''">
				AND a.supplier_code = #{supplierCode}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysBmsSkuSupplier" >
		SELECT 
			<include refid="sysBmsSkuSupplierColumns"/>
		FROM sys_bms_sku_supplier a
		<include refid="sysBmsSkuSupplierJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_bms_sku_supplier(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			sku_id,
			supplier_code,
			supplier_name,
			data_set
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{skuId},
			#{supplierCode},
			#{supplierName},
			#{dataSet}
		)
	</insert>
    <insert id="batchInsert">
		INSERT INTO sys_bms_sku_supplier
		(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			sku_id,
			supplier_code,
			supplier_name,
			data_set
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," close=";">
		(
			#{item.id},
			#{item.createBy.id},
			#{item.createDate},
			#{item.updateBy.id},
			#{item.updateDate},
			#{item.remarks},
			#{item.delFlag},
			#{item.skuId},
			#{item.supplierCode},
			#{item.supplierName},
			#{item.dataSet}
		)
		</foreach>
	</insert>

    <update id="update">
		UPDATE sys_bms_sku_supplier
		SET update_by     = #{updateBy.id},
			update_date   = #{updateDate},
			remarks       = #{remarks},
			sku_id        = #{skuId},
			supplier_code = #{supplierCode},
			supplier_name = #{supplierName},
			data_set      = #{dataSet}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_bms_sku_supplier WHERE id = #{id}
	</delete>
	<delete id="deleteByHeadId">
		DELETE FROM sys_bms_sku_supplier WHERE sku_id = #{skuId}
	</delete>
	<delete id="remove">
		DELETE sbss
		FROM sys_bms_sku_supplier sbss
			INNER JOIN sys_bms_sku sbs ON sbs.id = sbss.sku_id
		WHERE sbs.owner_code = #{ownerCode}
		  and sbs.sku_code = #{skuCode}
		  and sbs.data_set = #{dataSet}
	</delete>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_bms_sku_supplier SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysBmsSkuSupplier" statementType="STATEMENT">
		select * FROM sys_bms_sku_supplier  where ${propertyName} = '${value}'
	</select>

	<select id="findBySkuId" resultType="com.yunyou.modules.sys.common.entity.SysBmsSkuSupplier" >
		SELECT
		<include refid="sysBmsSkuSupplierColumns"/>
		FROM sys_bms_sku_supplier a
		WHERE a.sku_id = #{skuId}
		  AND a.data_set = #{dataSet}
	</select>
	
</mapper>