<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysBmsRouteMapper">
    
	<sql id="sysBmsRouteColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.remarks AS "remarks",
		a.route_code AS "routeCode",
		a.route_name AS "routeName",
		a.start_area_id AS "startAreaId",
		a.start_area_code AS "startAreaCode",
		a.start_area_name AS "startAreaName",
		a.end_area_id AS "endAreaId",
		a.end_area_code AS "endAreaCode",
		a.end_area_name AS "endAreaName",
		a.mileage AS "mileage",
		a.timeliness AS "timeliness",
		a.data_set AS "dataSet",
		scds.name AS "dataSetName"
	</sql>
	
	<sql id="sysBmsRouteJoins">
		LEFT JOIN sys_common_data_set scds ON a.data_set = scds.code
	</sql>
	
    
	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT 
			<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT 
			<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="routeCode != null and routeCode != ''">
				AND a.route_code = #{routeCode}
			</if>
			<if test="routeName != null and routeName != ''">
				AND a.route_name = #{routeName}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT 
			<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_bms_route(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			rec_ver,
			remarks,
			route_code,
			route_name,
			start_area_id,
			start_area_code,
			start_area_name,
			end_area_id,
			end_area_code,
			end_area_name,
			mileage,
			timeliness,
			data_set
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{recVer},
			#{remarks},
			#{routeCode},
			#{routeName},
			#{startAreaId},
			#{startAreaCode},
			#{startAreaName},
			#{endAreaId},
			#{endAreaCode},
			#{endAreaName},
			#{mileage},
			#{timeliness},
			#{dataSet}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_bms_route
		SET update_by       = #{updateBy.id},
			update_date     = #{updateDate},
			rec_ver         = rec_ver + 1,
			route_code      = #{routeCode},
			route_name      = #{routeName},
			start_area_id   = #{startAreaId},
			start_area_code = #{startAreaCode},
			start_area_name = #{startAreaName},
			end_area_id     = #{endAreaId},
			end_area_code   = #{endAreaCode},
			end_area_name   = #{endAreaName},
			mileage         = #{mileage},
			timeliness      = #{timeliness},
			data_set        = #{dataSet},
			remarks         = #{remarks}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_bms_route WHERE id = #{id}
	</delete>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_bms_route SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" statementType="STATEMENT">
		select * FROM sys_bms_route  where ${propertyName} = '${value}'
	</select>

	<select id="findPage" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT
		<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="dataSet != null and dataSet != ''">
				AND a.data_set = #{dataSet}
			</if>
			<if test="routeCode != null and routeCode != ''">
				AND a.route_code LIKE
				<if test="dbName == 'oracle'">'%'||#{routeCode}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{routeCode}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{routeCode},'%')</if>
			</if>
			<if test="routeName != null and routeName != ''">
				AND a.route_name LIKE
				<if test="dbName == 'oracle'">'%'||#{routeName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{routeName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{routeName},'%')</if>
			</if>
			<if test="startAreaCode != null and startAreaCode != ''">
				AND a.start_area_code LIKE
				<if test="dbName == 'oracle'">'%'||#{startAreaCode}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{startAreaCode}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{startAreaCode},'%')</if>
			</if>
			<if test="startAreaName != null and startAreaName != ''">
				AND a.start_area_name LIKE
				<if test="dbName == 'oracle'">'%'||#{startAreaName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{startAreaName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{startAreaName},'%')</if>
			</if>
			<if test="endAreaCode != null and endAreaCode != ''">
				AND a.end_area_code LIKE
				<if test="dbName == 'oracle'">'%'||#{endAreaCode}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{endAreaCode}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{endAreaCode},'%')</if>
			</if>
			<if test="endAreaName != null and endAreaName != ''">
				AND a.end_area_name LIKE
				<if test="dbName == 'oracle'">'%'||#{endAreaName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{endAreaName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{endAreaName},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="getByCode" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT
		<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		WHERE a.route_code = #{routeCode}
		  AND a.data_set = #{dataSet}
	</select>

	<select id="getByStartAndEndAreaId" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT
		<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		WHERE a.start_area_id = #{startAreaId}
		  AND a.end_area_id = #{endAreaId}
		  AND a.data_set = #{dataSet}
	</select>

	<select id="getByStartAndEndAreaCode" resultType="com.yunyou.modules.sys.common.entity.SysBmsRoute" >
		SELECT
		<include refid="sysBmsRouteColumns"/>
		FROM sys_bms_route a
		<include refid="sysBmsRouteJoins"/>
		WHERE a.start_area_code = #{startAreaCode}
		  AND a.end_area_code = #{endAreaCode}
		  AND a.data_set = #{dataSet}
	</select>


</mapper>