<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysBmsInvoiceObjectDetailMapper">
    
	<sql id="sysBmsInvoiceObjectDetailColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.object_id AS "sysBmsInvoiceObject.id",
		a.code AS "code",
		a.name AS "name",
		a.data_set AS "dataSet"
	</sql>
	
	<sql id="sysBmsInvoiceObjectDetailJoins">
		LEFT JOIN sys_bms_invoice_object b ON b.id = a.object_id AND a.data_set = b.data_set
	</sql>
	
    
	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysBmsInvoiceObject" >
		SELECT 
			<include refid="sysBmsInvoiceObjectDetailColumns"/>
		FROM sys_bms_invoice_object_detail a
		<include refid="sysBmsInvoiceObjectDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysBmsInvoiceObjectDetail" >
		SELECT 
			<include refid="sysBmsInvoiceObjectDetailColumns"/>
		FROM sys_bms_invoice_object_detail a
		<include refid="sysBmsInvoiceObjectDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="sysBmsInvoiceObject != null and sysBmsInvoiceObject.id != null and sysBmsInvoiceObject.id != ''">
				AND a.object_id = #{sysBmsInvoiceObject.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysBmsInvoiceObjectDetail" >
		SELECT 
			<include refid="sysBmsInvoiceObjectDetailColumns"/>
		FROM sys_bms_invoice_object_detail a
		<include refid="sysBmsInvoiceObjectDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_bms_invoice_object_detail(
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			object_id,
			code,
			name,
			data_set
		) VALUES (
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{sysBmsInvoiceObject.id},
			#{code},
			#{name},
			#{dataSet}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_bms_invoice_object_detail
		SET update_by   = #{updateBy.id},
			update_date = #{updateDate},
			remarks     = #{remarks},
			object_id   = #{sysBmsInvoiceObject.id},
			code        = #{code},
			name        = #{name},
			data_set    = #{dataSet}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_bms_invoice_object_detail
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE object_id = #{sysBmsInvoiceObject.id}
			</otherwise>
		</choose>
	</delete>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_bms_invoice_object_detail SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE object_id = #{sysBmsInvoiceObject.id}
			</otherwise>
		</choose>
	</update>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysBmsInvoiceObjectDetail" statementType="STATEMENT">
		select * FROM sys_bms_invoice_object_detail  where ${propertyName} = '${value}'
	</select>

	<select id="getByCode" resultType="com.yunyou.modules.sys.common.entity.SysBmsInvoiceObjectDetail" >
		SELECT
		<include refid="sysBmsInvoiceObjectDetailColumns"/>
		FROM sys_bms_invoice_object_detail a
		<include refid="sysBmsInvoiceObjectDetailJoins"/>
		WHERE a.code = #{code}
		and a.data_set = #{dataSet}
	</select>
	
</mapper>