<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysTmsTransportObjMapper">
    
	<sql id="sysTmsTransportObjColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.transport_obj_code AS "transportObjCode",
		a.transport_obj_name AS "transportObjName",
		a.transport_obj_short_name AS "transportObjShortName",
		a.contact AS "contact",
		a.phone AS "phone",
		a.tel AS "tel",
		a.fax AS "fax",
		a.email AS "email",
		a.url AS "url",
		a.area_id AS "areaId",
		a.address AS "address",
		a.un_code AS "unCode",
		a.sign_by AS "signBy",
		a.brand AS "brand",
		a.transport_obj_type AS "transportObjType",
		a.carrier_matched_org_id AS "carrierMatchedOrgId",
		a.outlet_matched_org_id AS "outletMatchedOrgId",
		a.data_set AS "dataSet",
		a.rec_ver AS "recVer",
        a.classification AS "classification",
        a.route_id AS "routeId",
        a.repair_price AS "repairPrice",
        a.settle_code AS "settleCode"
	</sql>
	
	<sql id="sysTmsTransportObjJoins">
		
	</sql>

	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportObj" >
		SELECT 
			<include refid="sysTmsTransportObjColumns"/>
		FROM sys_tms_transport_obj a
		<include refid="sysTmsTransportObjJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportObj" >
		SELECT 
			<include refid="sysTmsTransportObjColumns"/>
		FROM sys_tms_transport_obj a
		<include refid="sysTmsTransportObjJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="transportObjCode != null and transportObjCode != ''">
				AND a.transport_obj_code = #{transportObjCode}
			</if>
			<if test="transportObjName != null and transportObjName != ''">
				AND a.transport_obj_name = #{transportObjName}
			</if>
			<if test="transportObjType != null and transportObjType != ''">
				AND a.transport_obj_type LIKE concat('%', #{transportObjType}, '%')
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			<if test="carrierMatchedOrgId != null and carrierMatchedOrgId != ''">
				AND a.carrier_matched_org_id = #{carrierMatchedOrgId}
			</if>
			<if test="outletMatchedOrgId != null and outletMatchedOrgId != ''">
				AND a.outlet_matched_org_id = #{outletMatchedOrgId}
			</if>
			<if test="dataSet != null and dataSet != ''">
				AND a.data_set = #{dataSet}
			</if>
			<if test="routeId != null and routeId != ''">
				AND a.route_id = #{routeId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportObj" >
		SELECT 
			<include refid="sysTmsTransportObjColumns"/>
		FROM sys_tms_transport_obj a
		<include refid="sysTmsTransportObjJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_tms_transport_obj(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			transport_obj_code,
			transport_obj_name,
			transport_obj_short_name,
			contact,
			phone,
			tel,
			fax,
			email,
			url,
			area_id,
			address,
			un_code,
			sign_by,
			brand,
			transport_obj_type,
			carrier_matched_org_id,
			outlet_matched_org_id,
			data_set,
		    rec_ver,
            classification,
            route_id,
            repair_price,
			settle_code
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{transportObjCode},
			#{transportObjName},
			#{transportObjShortName},
			#{contact},
			#{phone},
			#{tel},
			#{fax},
			#{email},
			#{url},
			#{areaId},
			#{address},
			#{unCode},
			#{signBy},
			#{brand},
			#{transportObjType},
			#{carrierMatchedOrgId},
			#{outletMatchedOrgId},
			#{dataSet},
			#{recVer},
            #{classification},
            #{routeId},
            #{repairPrice},
			#{settleCode}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_tms_transport_obj SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			del_flag = #{delFlag},
			remarks = #{remarks},
			transport_obj_code = #{transportObjCode},
			transport_obj_name = #{transportObjName},
			transport_obj_short_name = #{transportObjShortName},
			contact = #{contact},
			phone = #{phone},
			tel = #{tel},
			fax = #{fax},
			email = #{email},
			url = #{url},
			area_id = #{areaId},
			address = #{address},
			un_code = #{unCode},
			sign_by = #{signBy},
			brand = #{brand},
			transport_obj_type = #{transportObjType},
			carrier_matched_org_id = #{carrierMatchedOrgId},
			outlet_matched_org_id = #{outletMatchedOrgId},
			data_set = #{dataSet},
            classification = #{classification},
            route_id = #{routeId},
            repair_price = #{repairPrice},
			settle_code = #{settleCode},
			rec_ver = rec_ver + 1
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_tms_transport_obj SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_tms_transport_obj WHERE id = #{id}
	</delete>
    <delete id="remove">
		DELETE FROM sys_tms_transport_obj WHERE transport_obj_code = #{customerNo} AND data_set = #{dataSet}
	</delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportObj" statementType="STATEMENT">
		select * FROM sys_tms_transport_obj  where ${propertyName} = '${value}'
	</select>

	<select id="getEntity" resultType="com.yunyou.modules.sys.common.entity.extend.SysTmsTransportObjEntity" >
		SELECT
		soc.name AS "carrierMatchedOrg",
		son.name AS "outletMatchedOrg",
		tts.transport_obj_name AS "settleName",
		<include refid="sysTmsTransportObjColumns"/>
		FROM sys_tms_transport_obj a
		LEFT JOIN sys_tms_transport_obj tts ON a.settle_code = tts.transport_obj_code AND a.data_set = tts.data_set
		LEFT JOIN sys_office soc ON a.carrier_matched_org_id = soc.id
		LEFT JOIN sys_office son ON a.outlet_matched_org_id = son.id
		<where>
			<choose>
				<when test="transportObjCode != null and transportObjCode != '' and dataSet != null and dataSet != ''">
					a.transport_obj_code = #{transportObjCode} AND a.data_set = #{dataSet}
				</when>
				<otherwise>
					a.id = #{id}
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="findPage" resultType="com.yunyou.modules.sys.common.entity.extend.SysTmsTransportObjEntity" >
		SELECT
			soc.name AS "carrierMatchedOrg",
			son.name AS "outletMatchedOrg",
			so.name AS "orgName",
			tts.transport_obj_name AS "settleName",
			<include refid="sysTmsTransportObjColumns"/>
		FROM sys_tms_transport_obj a
		LEFT JOIN sys_tms_transport_obj tts ON a.settle_code = tts.transport_obj_code AND a.data_set = tts.data_set
		LEFT JOIN sys_office soc ON a.carrier_matched_org_id = soc.id
		LEFT JOIN sys_office son ON a.outlet_matched_org_id = son.id
        LEFT JOIN sys_office so ON a.data_set = so.id
		<where>
			1 = 1
			${dataScope}
			<if test="delFlag != null and delFlag != ''">
				AND a.del_flag = #{delFlag}
			</if>
			<if test="transportObjCode != null and transportObjCode != ''">
				AND a.transport_obj_code LIKE concat('%', #{transportObjCode}, '%')
			</if>
			<if test="transportObjName != null and transportObjName != ''">
				AND a.transport_obj_name LIKE concat('%', #{transportObjName}, '%')
			</if>
			<if test="transportObjType != null and transportObjType != ''">
				AND a.transport_obj_type LIKE concat('%', #{transportObjType}, '%')
			</if>
			<if test="carrierMatchedOrgId != null and carrierMatchedOrgId != ''">
				AND a.carrier_matched_org_id = #{carrierMatchedOrgId}
			</if>
			<if test="outletMatchedOrgId != null and outletMatchedOrgId != ''">
				AND a.outlet_matched_org_id = #{outletMatchedOrgId}
			</if>
            <if test="classification != null and classification != ''">
                AND a.classification = #{classification}
            </if>
			<if test="settleCode != null and settleCode != ''">
				AND a.settle_code = #{settleCode}
			</if>
            <if test="routeId != null and routeId != ''">
                AND a.route_id = #{routeId}
            </if>
			<if test="dataSet != null and dataSet != ''">
				AND a.data_set = #{dataSet}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findGrid" resultType="com.yunyou.modules.sys.common.entity.extend.SysTmsTransportObjEntity" >
		SELECT
		<include refid="sysTmsTransportObjColumns"/>
		FROM sys_tms_transport_obj a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="transportObjCode != null and transportObjCode != ''">
				AND a.transport_obj_code LIKE concat('%', #{transportObjCode}, '%')
			</if>
			<if test="transportObjName != null and transportObjName != ''">
				AND a.transport_obj_name LIKE concat('%', #{transportObjName}, '%')
			</if>
			<if test="transportObjType != null and transportObjType != ''">
				AND a.transport_obj_type LIKE concat('%', #{transportObjType}, '%')
			</if>
			<if test="carrierMatchedOrgId != null and carrierMatchedOrgId != ''">
				AND a.carrier_matched_org_id = #{carrierMatchedOrgId}
			</if>
			<if test="outletMatchedOrgId != null and outletMatchedOrgId != ''">
				AND a.outlet_matched_org_id = #{outletMatchedOrgId}
			</if>
            <if test="classification != null and classification != ''">
                AND a.classification = #{classification}
            </if>
            <if test="routeId != null and routeId != ''">
                AND a.route_id = #{routeId}
            </if>
			<if test="dataSet != null and dataSet != ''">
				AND a.data_set = #{dataSet}
			</if>
			<if test="codeAndName != null and codeAndName != ''">
				AND (a.transport_obj_code LIKE concat('%', #{codeAndName}, '%')
					OR a.transport_obj_name LIKE concat('%', #{codeAndName}, '%'))
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

    <select id="findSettleGrid" resultType="com.yunyou.modules.sys.common.entity.extend.SysTmsTransportObjEntity">
        SELECT
        <include refid="sysTmsTransportObjColumns"/>
        FROM sys_tms_transport_obj a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            AND a.transport_obj_type LIKE '%SETTLEMENT%'
            <if test="transportObjCode != null and transportObjCode != ''">
                AND a.transport_obj_code LIKE concat('%', #{transportObjCode}, '%')
            </if>
            <if test="transportObjName != null and transportObjName != ''">
                AND a.transport_obj_name LIKE concat('%', #{transportObjName}, '%')
            </if>
            <if test="transportObjType != null and transportObjType != ''">
                AND a.transport_obj_type LIKE concat('%', #{transportObjType}, '%')
            </if>
            <if test="carrierMatchedOrgId != null and carrierMatchedOrgId != ''">
                AND a.carrier_matched_org_id = #{carrierMatchedOrgId}
            </if>
            <if test="outletMatchedOrgId != null and outletMatchedOrgId != ''">
                AND a.outlet_matched_org_id = #{outletMatchedOrgId}
            </if>
            <if test="dataSet != null and dataSet != ''">
                AND a.data_set = #{dataSet}
            </if>
            <if test="codeAndName != null and codeAndName != ''">
                AND (a.transport_obj_code LIKE concat('%', #{codeAndName}, '%')
                OR a.transport_obj_name LIKE concat('%', #{codeAndName}, '%'))
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

	<insert id="batchInsert">
		INSERT INTO sys_tms_transport_obj(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			transport_obj_code,
			transport_obj_name,
			transport_obj_short_name,
			contact,
			phone,
			tel,
			fax,
			email,
			url,
			area_id,
			address,
			un_code,
			sign_by,
			brand,
			transport_obj_type,
			carrier_matched_org_id,
			outlet_matched_org_id,
			data_set,
			rec_ver,
			classification,
			route_id,
			repair_price,
			settle_code
		) VALUES
		<foreach collection="list" item="item" index="index" separator="," close=";">
		(
			#{item.id},
			#{item.createBy.id},
			#{item.createDate},
			#{item.updateBy.id},
			#{item.updateDate},
			#{item.remarks},
			#{item.delFlag},
			#{item.transportObjCode},
			#{item.transportObjName},
			#{item.transportObjShortName},
			#{item.contact},
			#{item.phone},
			#{item.tel},
			#{item.fax},
			#{item.email},
			#{item.url},
			#{item.areaId},
			#{item.address},
			#{item.unCode},
			#{item.signBy},
			#{item.brand},
			#{item.transportObjType},
			#{item.carrierMatchedOrgId},
			#{item.outletMatchedOrgId},
			#{item.dataSet},
			#{item.recVer},
			#{item.classification},
			#{item.routeId},
			#{item.repairPrice},
			#{item.settleCode}
			)
		</foreach>
	</insert>
</mapper>