<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysTmsTransportEquipmentSpaceMapper">
    
	<sql id="sysTmsTransportEquipmentSpaceColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.transport_equipment_type_code AS "transportEquipmentTypeCode",
		a.transport_equipment_no AS "transportEquipmentNo",
		a.transport_equipment_location AS "transportEquipmentLocation",
		a.is_temperature_control AS "isTemperatureControl",
		a.is_humidity_control AS "isHumidityControl",
		a.load_weight AS "loadWeight",
		a.load_cubic AS "loadCubic",
		a.data_set AS "dataSet",
		a.rec_ver AS "recVer"
	</sql>
	
	<sql id="sysTmsTransportEquipmentSpaceJoins">
		
	</sql>

	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportEquipmentSpace" >
		SELECT 
			<include refid="sysTmsTransportEquipmentSpaceColumns"/>
		FROM sys_tms_transport_equipment_space a
		<include refid="sysTmsTransportEquipmentSpaceJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportEquipmentSpace" >
		SELECT 
			<include refid="sysTmsTransportEquipmentSpaceColumns"/>
		FROM sys_tms_transport_equipment_space a
		<include refid="sysTmsTransportEquipmentSpaceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.transport_equipment_type_code = #{transportEquipmentTypeCode}
			AND a.data_set = #{dataSet}
			<if test="transportEquipmentNo != null and transportEquipmentNo != ''">
				AND a.transport_equipment_no = #{transportEquipmentNo}
			</if>
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportEquipmentSpace" >
		SELECT 
			<include refid="sysTmsTransportEquipmentSpaceColumns"/>
		FROM sys_tms_transport_equipment_space a
		<include refid="sysTmsTransportEquipmentSpaceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_tms_transport_equipment_space(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			transport_equipment_type_code,
			transport_equipment_no,
			transport_equipment_location,
			is_temperature_control,
			is_humidity_control,
			load_weight,
			load_cubic,
			data_set,
			rec_ver
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{transportEquipmentTypeCode},
			#{transportEquipmentNo},
			#{transportEquipmentLocation},
			#{isTemperatureControl},
			#{isHumidityControl},
			#{loadWeight},
			#{loadCubic},
			#{dataSet},
			#{recVer}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_tms_transport_equipment_space SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			transport_equipment_type_code = #{transportEquipmentTypeCode},
			transport_equipment_no = #{transportEquipmentNo},
			transport_equipment_location = #{transportEquipmentLocation},
			is_temperature_control = #{isTemperatureControl},
			is_humidity_control = #{isHumidityControl},
			load_weight = #{loadWeight},
			load_cubic = #{loadCubic},
			data_set = #{dataSet},
			rec_ver = rec_ver + 1
		WHERE id = #{id} AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_tms_transport_equipment_space SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_tms_transport_equipment_space
		WHERE id = #{id}
	</delete>

	<delete id="deleteByEquipmentType">
		DELETE FROM sys_tms_transport_equipment_space
		WHERE transport_equipment_type_code = #{transportEquipmentTypeCode} AND data_set = #{dataSet}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysTmsTransportEquipmentSpace" statementType="STATEMENT">
		select * FROM sys_tms_transport_equipment_space  where ${propertyName} = '${value}'
	</select>
	
</mapper>