<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysWmsRuleWvDetailOrderMapper">
    
	<sql id="sysWmsRuleWvDetailOrderColumns">
		a.id AS "id",
		a.rule_code AS "ruleCode",
		a.line_no AS "lineNo",
		a.and_or AS "andOr",
		a.left_bracket AS "leftBracket",
		a.order_att_code AS "orderAttCode",
		a.order_att_name AS "orderAttName",
		a.operator AS "operator",
		a.value AS "value",
		a.right_bracket AS "rightBracket",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.data_set AS "dataSet",
		a.header_id AS "headerId"
	</sql>
	
	<sql id="sysWmsRuleWvDetailOrderJoins">
		
	</sql>

	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysWmsRuleWvDetailOrder" >
		SELECT 
			<include refid="sysWmsRuleWvDetailOrderColumns"/>
		FROM sys_wms_rule_wv_detail_order a
		<include refid="sysWmsRuleWvDetailOrderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysWmsRuleWvDetailOrder" >
		SELECT 
			<include refid="sysWmsRuleWvDetailOrderColumns"/>
		FROM sys_wms_rule_wv_detail_order a
		<include refid="sysWmsRuleWvDetailOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.data_set = #{dataSet}
			${dataScope}
            <if test="headerId != null and headerId != ''">
                AND a.header_id = #{headerId}
            </if>
			<if test="ruleCode != null and ruleCode != ''">
				AND a.rule_code = #{ruleCode}
			</if>
			<if test="lineNo != null and lineNo != ''">
				AND a.line_no = #{lineNo}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysWmsRuleWvDetailOrder" >
		SELECT 
			<include refid="sysWmsRuleWvDetailOrderColumns"/>
		FROM sys_wms_rule_wv_detail_order a
		<include refid="sysWmsRuleWvDetailOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.line_no
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_wms_rule_wv_detail_order(
			id,
			rule_code,
			line_no,
			and_or,
			left_bracket,
			order_att_code,
			order_att_name,
			operator,
			value,
			right_bracket,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			data_set,
			header_id
		) VALUES (
			#{id},
			#{ruleCode},
			#{lineNo},
			#{andOr},
			#{leftBracket},
			#{orderAttCode},
			#{orderAttName},
			#{operator},
			#{value},
			#{rightBracket},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{dataSet},
			#{headerId}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_wms_rule_wv_detail_order
		SET rule_code      = #{ruleCode},
			line_no        = #{lineNo},
			and_or         = #{andOr},
			left_bracket   = #{leftBracket},
			order_att_code = #{orderAttCode},
			order_att_name = #{orderAttName},
			operator       = #{operator},
			value          = #{value},
			right_bracket  = #{rightBracket},
			rec_ver        = #{recVer} + 1,
			update_by      = #{updateBy.id},
			update_date    = #{updateDate}
		WHERE id = #{id}
		  AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_wms_rule_wv_detail_order SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_wms_rule_wv_detail_order WHERE id = #{id}
	</delete>

	<delete id="deleteByHeaderId">
		DELETE FROM sys_wms_rule_wv_detail_order WHERE header_id = #{headerId}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysWmsRuleWvDetailOrder" statementType="STATEMENT">
		SELECT * FROM sys_wms_rule_wv_detail_order WHERE ${propertyName} = '${value}'
	</select>
	
</mapper>