<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysWmsSkuLocMapper">
    
	<sql id="sysWmsSkuLocColumns">
		a.id AS "id",
		a.owner_code AS "ownerCode",
		a.sku_code AS "skuCode",
		a.loc_code AS "locCode",
		a.sku_loc_type AS "skuLocType",
		a.min_rp AS "minRp",
		a.rp_uom AS "rpUom",
		a.max_limit AS "maxLimit",
		a.min_limit AS "minLimit",
		a.is_over_alloc AS "isOverAlloc",
		a.is_auto_rp AS "isAutoRp",
		a.is_rp_alloc AS "isRpAlloc",
		a.is_over_rp AS "isOverRp",
		a.is_fm_rs AS "isFmRs",
		a.is_fm_cs AS "isFmCs",
		a.rec_ver AS "recVer",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.data_set AS "dataSet",
		a.header_id AS "headerId"
	</sql>
	
	<sql id="sysWmsSkuLocJoins">
		
	</sql>

	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysWmsSkuLoc" >
		SELECT 
			<include refid="sysWmsSkuLocColumns"/>
		FROM sys_wms_sku_loc a
		<include refid="sysWmsSkuLocJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysWmsSkuLoc" >
		SELECT 
			<include refid="sysWmsSkuLocColumns"/>
		FROM sys_wms_sku_loc a
		<include refid="sysWmsSkuLocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			AND a.data_set = #{dataSet}
            <if test="headerId != null and headerId != ''">
                AND a.header_id = #{headerId}
            </if>
            <if test="ownerCode != null and ownerCode != ''">
                AND a.owner_code = #{ownerCode}
            </if>
            <if test="skuCode != null and skuCode != ''">
                AND a.sku_code = #{skuCode}
            </if>
            <if test="skuLocType != null and skuLocType != ''">
                AND a.sku_loc_type = #{skuLocType}
            </if>
            <if test="locCode != null and locCode != ''">
                AND a.loc_code = #{locCode}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysWmsSkuLoc" >
		SELECT 
			<include refid="sysWmsSkuLocColumns"/>
		FROM sys_wms_sku_loc a
		<include refid="sysWmsSkuLocJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_wms_sku_loc(
			id,
			owner_code,
			sku_code,
			loc_code,
			sku_loc_type,
			min_rp,
			rp_uom,
			max_limit,
			min_limit,
			is_over_alloc,
			is_auto_rp,
			is_rp_alloc,
			is_over_rp,
			is_fm_rs,
			is_fm_cs,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			data_set,
			header_id
		) VALUES (
			#{id},
			#{ownerCode},
			#{skuCode},
			#{locCode},
			#{skuLocType},
			#{minRp},
			#{rpUom},
			#{maxLimit},
			#{minLimit},
			#{isOverAlloc},
			#{isAutoRp},
			#{isRpAlloc},
			#{isOverRp},
			#{isFmRs},
			#{isFmCs},
			#{recVer},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{dataSet},
			#{headerId}
		)
	</insert>
    <insert id="batchInsert">
		INSERT INTO sys_wms_sku_loc(
			id,
			owner_code,
			sku_code,
			loc_code,
			sku_loc_type,
			min_rp,
			rp_uom,
			max_limit,
			min_limit,
			is_over_alloc,
			is_auto_rp,
			is_rp_alloc,
			is_over_rp,
			is_fm_rs,
			is_fm_cs,
			rec_ver,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			data_set,
			header_id
		) VALUES
		<foreach collection="list" item="item" index="index" separator="," close=";">
		(
			#{item.id},
			#{item.ownerCode},
			#{item.skuCode},
			#{item.locCode},
			#{item.skuLocType},
			#{item.minRp},
			#{item.rpUom},
			#{item.maxLimit},
			#{item.minLimit},
			#{item.isOverAlloc},
			#{item.isAutoRp},
			#{item.isRpAlloc},
			#{item.isOverRp},
			#{item.isFmRs},
			#{item.isFmCs},
			#{item.recVer},
			#{item.createBy.id},
			#{item.createDate},
			#{item.updateBy.id},
			#{item.updateDate},
			#{item.delFlag},
			#{item.dataSet},
			#{item.headerId}
		)
		</foreach>
	</insert>

    <update id="update">
		UPDATE sys_wms_sku_loc
		SET owner_code    = #{ownerCode},
			sku_code      = #{skuCode},
			loc_code      = #{locCode},
			sku_loc_type  = #{skuLocType},
			min_rp        = #{minRp},
			rp_uom        = #{rpUom},
			max_limit     = #{maxLimit},
			min_limit     = #{minLimit},
			is_over_alloc = #{isOverAlloc},
			is_auto_rp    = #{isAutoRp},
			is_rp_alloc   = #{isRpAlloc},
			is_over_rp    = #{isOverRp},
			is_fm_rs      = #{isFmRs},
			is_fm_cs      = #{isFmCs},
			rec_ver       = rec_ver + 1,
			update_by     = #{updateBy.id},
			update_date   = #{updateDate}
		WHERE id = #{id}
		  AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_wms_sku_loc SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_wms_sku_loc WHERE id = #{id}
	</delete>

    <delete id="deleteByHeaderId">
        DELETE FROM sys_wms_sku_loc WHERE header_id = #{headerId}
    </delete>
    <delete id="remove">
		DELETE FROM sys_wms_sku_loc
		WHERE exists(select 1
					 from sys_wms_sku sws
					 where sws.id = sys_wms_sku_loc.header_id
					   and sws.owner_code = #{ownerCode}
					   and sws.sku_code = #{skuCode}
					   and sws.data_set = #{dataSet})
	</delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysWmsSkuLoc" statementType="STATEMENT">
		SELECT * FROM sys_wms_sku_loc WHERE ${propertyName} = '${value}'
	</select>

	<select id="findPage" resultType="com.yunyou.modules.sys.common.entity.extend.SysWmsSkuLocEntity" >
		SELECT
		<include refid="sysWmsSkuLocColumns"/>,
		cwpr.cdpr_desc AS cdprDesc
		FROM sys_wms_sku_loc a
		LEFT JOIN sys_wms_sku cws ON a.owner_code = cws.owner_code AND a.sku_code = cws.sku_code AND a.data_set = cws.data_set
		LEFT JOIN sys_wms_package cwp ON cws.pack_code = cwp.cdpa_code AND cws.data_set = cwp.data_set
		LEFT JOIN sys_wms_package_relation cwpr ON cwp.pm_code = cwpr.cdpr_cdpa_pm_code AND cwp.data_set = cwpr.data_set AND a.rp_uom = cwpr.cdpr_unit_level
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="dataSet != null and dataSet != ''">
				AND a.data_set = #{dataSet}
			</if>
			<if test="headerId != null and headerId != ''">
				AND a.header_id = #{headerId}
			</if>
			<if test="ownerCode != null and ownerCode != ''">
				AND a.owner_code = #{ownerCode}
			</if>
			<if test="skuCode != null and skuCode != ''">
				AND a.sku_code = #{skuCode}
			</if>
			<if test="skuLocType != null and skuLocType != ''">
				AND a.sku_loc_type = #{skuLocType}
			</if>
			<if test="locCode != null and locCode != ''">
				AND a.loc_code = #{locCode}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

</mapper>