<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.sys.common.mapper.SysWmsCarrierTypeRelationMapper">
    
	<sql id="sysWmsCarrierTypeRelationColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.carrier_code AS "carrierCode",
		a.type AS "type",
		a.data_set AS "dataSet",
		a.rec_ver AS "recVer",
		scds.name AS "dataSetName"
	</sql>
	
	<sql id="sysWmsCarrierTypeRelationJoins">
		LEFT JOIN sys_common_data_set scds ON a.data_set = scds.code
		
	</sql>

	<select id="get" resultType="com.yunyou.modules.sys.common.entity.SysWmsCarrierTypeRelation" >
		SELECT 
			<include refid="sysWmsCarrierTypeRelationColumns"/>
		FROM sys_wms_carrier_type_relation a
		<include refid="sysWmsCarrierTypeRelationJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.yunyou.modules.sys.common.entity.SysWmsCarrierTypeRelation" >
		SELECT 
			<include refid="sysWmsCarrierTypeRelationColumns"/>
		FROM sys_wms_carrier_type_relation a
		<include refid="sysWmsCarrierTypeRelationJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.data_set = #{dataSet}
			${dataScope}
			<if test="carrierCode != null and carrierCode != ''">
				AND a.carrier_code = #{carrierCode}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.yunyou.modules.sys.common.entity.SysWmsCarrierTypeRelation" >
		SELECT 
			<include refid="sysWmsCarrierTypeRelationColumns"/>
		FROM sys_wms_carrier_type_relation a
		<include refid="sysWmsCarrierTypeRelationJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_wms_carrier_type_relation(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			carrier_code,
			type,
			data_set,
		 	rec_ver
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{carrierCode},
			#{type},
			#{dataSet},
			#{recVer}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_wms_carrier_type_relation
		SET update_by    = #{updateBy.id},
			update_date  = #{updateDate},
			remarks      = #{remarks},
			carrier_code = #{carrierCode},
			type         = #{type},
			data_set     = #{dataSet},
			rec_ver      = rec_ver + 1
		WHERE id = #{id}
		  AND rec_ver = #{recVer}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_wms_carrier_type_relation SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM sys_wms_carrier_type_relation WHERE id = #{id}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.yunyou.modules.sys.common.entity.SysWmsCarrierTypeRelation" statementType="STATEMENT">
		SELECT * FROM sys_wms_carrier_type_relation WHERE ${propertyName} = '${value}'
	</select>

	<select id="getEntity" resultType="com.yunyou.modules.sys.common.entity.extend.SysWmsCarrierTypeRelationEntity" >
		SELECT
		ebcs.ebcu_name_cn AS carrierName,
		<include refid="sysWmsCarrierTypeRelationColumns"/>
		FROM sys_wms_carrier_type_relation a
		<include refid="sysWmsCarrierTypeRelationJoins"/>
		LEFT JOIN sys_wms_customer ebcs ON ebcs.ebcu_customer_no = a.carrier_code AND ebcs.data_set= a.data_set
		WHERE a.id = #{id}
	</select>

	<select id="findPage" resultType="com.yunyou.modules.sys.common.entity.extend.SysWmsCarrierTypeRelationEntity" >
		SELECT
		ebcs.ebcu_name_cn AS carrierName,
		<include refid="sysWmsCarrierTypeRelationColumns"/>
		FROM sys_wms_carrier_type_relation a
		<include refid="sysWmsCarrierTypeRelationJoins"/>
		LEFT JOIN sys_wms_customer ebcs ON ebcs.ebcu_customer_no = a.carrier_code AND ebcs.data_set= a.data_set
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="dataSet != null and dataSet != ''">
				AND a.data_set = #{dataSet}
			</if>
			<if test="carrierCode != null and carrierCode != ''">
				AND a.carrier_code = #{carrierCode}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

</mapper>