<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.oms.order.mapper.OmSaleDetailMapper">
    
	<sql id="omSaleDetailColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.header_id AS "headerId",
		a.sku_code AS "skuCode",
		a.sku_name AS "skuName",
		a.spec AS "spec",
		a.auxiliary_unit AS "auxiliaryUnit",
		a.auxiliary_qty AS "auxiliaryQty",
		a.unit AS "unit",
		a.qty AS "qty",
		a.tax_rate AS "taxRate",
		a.price AS "price",
		a.tax_price AS "taxPrice",
		a.amount AS "amount",
		a.tax_money AS "taxMoney",
		a.tax_amount AS "taxAmount",
		a.discount AS "discount",
		a.turnover AS "turnover",
		a.transaction_tax AS "transactionTax",
		a.sum_transaction_price_tax AS "sumTransactionPriceTax",
        a.org_id AS "orgId",
        a.sale_multiple AS "saleMultiple",
        a.ratio AS "ratio",
        a.middle_id AS "middleId",
        a.item_price_id AS "itemPriceId",
        a.rice_num AS "riceNum",
		a.logistics_unit AS "logisticsUnit",
		a.logistics_unit_qty AS "logisticsUnitQty",
		a.logistics_muq_type AS "logisticsMuqType"
	</sql>
	
	<sql id="omSaleDetailJoins">
		
			LEFT JOIN om_sale_header b ON b.id = a.header_id
	</sql>
	
    
	<select id="get" resultType="OmSaleDetail" >
		SELECT 
			<include refid="omSaleDetailColumns"/>
		FROM om_sale_detail a
		<include refid="omSaleDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="OmSaleDetail" >
		SELECT 
			<include refid="omSaleDetailColumns"/>
		FROM om_sale_detail a
		<include refid="omSaleDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="headerId != null and headerId != ''">
				AND a.header_id = #{headerId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OmSaleDetail" >
		SELECT 
			<include refid="omSaleDetailColumns"/>
		FROM om_sale_detail a
		<include refid="omSaleDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO om_sale_detail(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			header_id,
			sku_code,
			sku_name,
			spec,
			auxiliary_unit,
			auxiliary_qty,
			unit,
			qty,
			tax_rate,
			price,
			tax_price,
			amount,
			tax_money,
			tax_amount,
			discount,
			turnover,
			transaction_tax,
			sum_transaction_price_tax,
            org_id,
            sale_multiple,
            ratio,
            middle_id,
            item_price_id,
            rice_num,
			logistics_unit,
			logistics_unit_qty,
			logistics_muq_type
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{headerId},
			#{skuCode},
			#{skuName},
			#{spec},
			#{auxiliaryUnit},
			#{auxiliaryQty},
			#{unit},
			#{qty},
			#{taxRate},
			#{price},
			#{taxPrice},
			#{amount},
			#{taxMoney},
			#{taxAmount},
			#{discount},
			#{turnover},
			#{transactionTax},
			#{sumTransactionPriceTax},
            #{orgId},
            #{saleMultiple},
            #{ratio},
            #{middleId},
            #{itemPriceId},
            #{riceNum},
			#{logisticsUnit},
			#{logisticsUnitQty},
			#{logisticsMuqType}
		)
	</insert>
	
	<update id="update">
		UPDATE om_sale_detail SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			header_id = #{headerId},
			sku_code = #{skuCode},
			sku_name = #{skuName},
			spec = #{spec},
			auxiliary_unit = #{auxiliaryUnit},
			auxiliary_qty = #{auxiliaryQty},
			unit = #{unit},
			qty = #{qty},
			tax_rate = #{taxRate},
			price = #{price},
			tax_price = #{taxPrice},
			amount = #{amount},
			tax_money = #{taxMoney},
			tax_amount = #{taxAmount},
			discount = #{discount},
			turnover = #{turnover},
			transaction_tax = #{transactionTax},
			sum_transaction_price_tax = #{sumTransactionPriceTax},
            org_id = #{orgId},
            sale_multiple = #{saleMultiple},
            ratio = #{ratio},
            middle_id = #{middleId},
            item_price_id = #{itemPriceId},
            rice_num = #{riceNum},
			logistics_unit = #{logisticsUnit},
			logistics_unit_qty = #{logisticsUnitQty},
			logistics_muq_type = #{logisticsMuqType}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM om_sale_detail
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE header_id = #{headerId}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE om_sale_detail SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE header_id = #{headerId}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OmSaleDetail" statementType="STATEMENT">
		select * FROM om_sale_detail  where ${propertyName} = '${value}'
	</select>

	<select id="findDetailsByOwnerAndSku" resultType="OmSaleDetail" >
		SELECT
		<include refid="omSaleDetailColumns"/>
		FROM om_sale_detail a
		LEFT JOIN om_sale_header b
			   ON a.header_id = b.id
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}

			${dataScope}
			<if test="status != null and status != ''">
				and b.status = #{status}
			</if>
			<if test="skuCode != null and skuCode != ''">
				AND a.sku_code = #{skuCode}
			</if>
			<if test="warehouse != null and warehouse != ''">
				AND b.out_warhouse = #{warehouse}
			</if>
			<if test="owner != null and owner != ''">
				AND b.owner = #{owner}
			</if>
		</where>
	</select>

	<insert id="saveAll">
		INSERT INTO om_sale_detail(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			header_id,
			sku_code,
			sku_name,
			spec,
			auxiliary_unit,
			auxiliary_qty,
			unit,
			qty,
			tax_rate,
			price,
			tax_price,
			amount,
			tax_money,
			tax_amount,
			discount,
			turnover,
			transaction_tax,
			sum_transaction_price_tax,
            org_id,
            sale_multiple,
            ratio,
			middle_id,
			item_price_id,
			rice_num,
			logistics_unit,
			logistics_unit_qty,
			logistics_muq_type
		) VALUES
		<foreach collection="list" item="item" index="index" separator="," close=";">
		(
			#{item.id},
			#{item.createBy.id},
			#{item.createDate},
			#{item.updateBy.id},
			#{item.updateDate},
			#{item.remarks},
			#{item.delFlag},
			#{item.headerId},
			#{item.skuCode},
			#{item.skuName},
			#{item.spec},
			#{item.auxiliaryUnit},
			#{item.auxiliaryQty},
			#{item.unit},
			#{item.qty},
			#{item.taxRate},
			#{item.price},
			#{item.taxPrice},
			#{item.amount},
			#{item.taxMoney},
			#{item.taxAmount},
			#{item.discount},
			#{item.turnover},
			#{item.transactionTax},
			#{item.sumTransactionPriceTax},
            #{item.orgId},
            #{item.saleMultiple},
            #{item.ratio},
			#{item.middleId},
			#{item.itemPriceId},
			#{item.riceNum},
		  	#{item.logisticsUnit},
		  	#{item.logisticsUnitQty},
		  	#{item.logisticsMuqType}
		)
		</foreach>
	</insert>

	<select id="findDetailList" resultType="OmSaleDetail" >
		SELECT
		oip.is_allow_adjustment AS "isAllowAdjustment",
		<include refid="omSaleDetailColumns"/>
		FROM om_sale_detail a
		<include refid="omSaleDetailJoins"/>
		left join om_item_price oip
			   on a.item_price_id = oip.id
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="headerId != null and headerId != ''">
				AND a.header_id = #{headerId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>

</mapper>