<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.oms.basic.mapper.OmBusinessServiceScopeMapper">

    <sql id="omBusinessServiceScopeColumns">
        a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.group_code AS "groupCode",
		a.group_name AS "groupName",
		a.org_id AS "orgId"
    </sql>

    <sql id="omBusinessServiceScopeJoins">

    </sql>

    <select id="get" resultType="OmBusinessServiceScope">
        SELECT
        <include refid="omBusinessServiceScopeColumns"/>
        FROM om_business_service_scope a
        <include refid="omBusinessServiceScopeJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="OmBusinessServiceScope">
        SELECT
        <include refid="omBusinessServiceScopeColumns"/>
        FROM om_business_service_scope a
        <include refid="omBusinessServiceScopeJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.org_id = #{orgId}
            ${dataScope}
            <if test="groupCode != null and groupCode != ''">
                AND a.group_code = #{groupCode}
            </if>
            <if test="groupName != null and groupName != ''">
                AND a.group_name = #{groupName}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="OmBusinessServiceScope">
        SELECT
        <include refid="omBusinessServiceScopeColumns"/>
        FROM om_business_service_scope a
        <include refid="omBusinessServiceScopeJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO om_business_service_scope
        (
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag,
            group_code,
            group_name,
            org_id
        )
        VALUES
        (
            #{id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag},
            #{groupCode},
            #{groupName},
            #{orgId}
        )
    </insert>

    <insert id="insertArea">
        INSERT INTO om_business_service_scope_area(head_id, area_id)
        <foreach collection="areaList" item="area" separator=" union all ">
            SELECT #{id}, #{area.id} ${dual}
        </foreach>
    </insert>

    <update id="update">
        UPDATE om_business_service_scope
        SET update_by   = #{updateBy.id},
            update_date = #{updateDate},
            remarks     = #{remarks},
            group_code  = #{groupCode},
            group_name  = #{groupName},
            org_id      = #{orgId}
        WHERE id = #{id}
    </update>
    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE om_business_service_scope
        SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>
    <!--物理删除-->
    <delete id="delete">
        DELETE FROM om_business_service_scope WHERE id = #{id}
    </delete>
    <delete id="remove">
        DELETE FROM om_business_service_scope WHERE group_code = #{groupCode} AND org_id = #{orgId}
    </delete>
    <delete id="deleteArea">
        DELETE FROM om_business_service_scope_area WHERE head_id = #{id}
    </delete>
    <delete id="removeArea">
        DELETE obssa
        FROM om_business_service_scope_area obssa
            INNER JOIN om_business_service_scope obss ON obss.id = obssa.head_id
        WHERE obss.group_code = #{groupCode}
          AND obss.org_id = #{orgId}
    </delete>
    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="OmBusinessServiceScope" statementType="STATEMENT">
        SELECT * FROM om_business_service_scope WHERE ${propertyName} = '${value}'
    </select>

    <select id="getEntity" resultType="com.yunyou.modules.oms.basic.entity.extend.OmBusinessServiceScopeEntity">
        SELECT
        <include refid="omBusinessServiceScopeColumns"/>,
        so.name AS "orgName"
        FROM om_business_service_scope a
        LEFT JOIN sys_office so ON a.org_id = so.id
        WHERE a.id = #{id}
    </select>

	<select id="findPage" resultType="com.yunyou.modules.oms.basic.entity.extend.OmBusinessServiceScopeEntity">
		SELECT
        <include refid="omBusinessServiceScopeColumns"/>,
        so.name AS "orgName"
		FROM om_business_service_scope a
		LEFT JOIN sys_office so ON a.org_id = so.id
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.org_id = #{orgId}
			${dataScope}
			<if test="groupCode != null and groupCode != ''">
				AND a.group_code LIKE concat('%', #{groupCode}, '%')
			</if>
			<if test="groupName != null and groupName != ''">
				AND a.group_name LIKE concat('%', #{groupName}, '%')
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

    <select id="getArea" resultType="Area">
        SELECT a.area_id AS "id"
        FROM om_business_service_scope_area a
        WHERE a.head_id = #{id}
    </select>

    <select id="findByAreaId" resultType="OmBusinessServiceScope">
        SELECT DISTINCT
        <include refid="omBusinessServiceScopeColumns"/>
        FROM om_business_service_scope a
        LEFT JOIN om_business_service_scope_area obssa ON a.id = obssa.head_id
        WHERE a.org_id = #{orgId} AND obssa.area_id = #{areaId}
    </select>

    <select id="getByCode" resultType="com.yunyou.modules.oms.basic.entity.extend.OmBusinessServiceScopeEntity">
        SELECT <include refid="omBusinessServiceScopeColumns"/>
        FROM om_business_service_scope a
        WHERE a.group_code = #{groupCode} AND a.org_id = #{orgId}
    </select>
</mapper>