<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.oms.basic.mapper.OmClerkMapper">
    
	<sql id="omClerkColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.clerk_code AS "clerkCode",
		a.clerk_name AS "clerkName",
		a.phone AS "phone",
		a.org_id AS "orgId"
	</sql>
	
	<sql id="omClerkJoins">
		
	</sql>

    <select id="get" resultType="OmClerk" >
		SELECT 
			<include refid="omClerkColumns"/>
		FROM om_clerk a
		<include refid="omClerkJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="OmClerk" >
		SELECT 
			<include refid="omClerkColumns"/>
		FROM om_clerk a
		<include refid="omClerkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="clerkCode != null and clerkCode != ''">
				AND a.clerk_code = #{clerkCode}
			</if>
			<if test="clerkName != null and clerkName != ''">
				AND a.clerk_name = #{clerkName}
			</if>
			<if test="phone != null and phone != ''">
				AND a.phone = #{phone}
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OmClerk" >
		SELECT 
			<include refid="omClerkColumns"/>
		FROM om_clerk a
		<include refid="omClerkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO om_clerk(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			clerk_code,
			clerk_name,
			phone,
			org_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{clerkCode},
			#{clerkName},
			#{phone},
			#{orgId}
		)
	</insert>
	
	<update id="update">
		UPDATE om_clerk SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			clerk_code = #{clerkCode},
			clerk_name = #{clerkName},
			phone = #{phone},
			org_id = #{orgId}
		WHERE id = #{id}
	</update>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE om_clerk SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM om_clerk WHERE id = #{id}
	</delete>
	<delete id="remove">
		DELETE FROM om_clerk WHERE clerk_code = #{clerkCode} AND org_id = #{orgId}
	</delete>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OmClerk" statementType="STATEMENT">
		select * FROM om_clerk  where ${propertyName} = '${value}'
	</select>

	<select id="findPage" resultType="OmClerk" >
		SELECT
			<include refid="omClerkColumns"/>
		FROM om_clerk a
		<include refid="omClerkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="clerkCode != null and clerkCode != ''">
				AND a.clerk_code LIKE
					<if test="dbName == 'oracle'">'%'||#{clerkCode}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{clerkCode}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{clerkCode},'%')</if>
			</if>
			<if test="clerkName != null and clerkName != ''">
				AND a.clerk_name LIKE
					<if test="dbName == 'oracle'">'%'||#{clerkName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{clerkName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{clerkName},'%')</if>
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="popData" resultType="OmClerk" >
		SELECT
			<include refid="omClerkColumns"/>
		FROM om_clerk a
		<include refid="omClerkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="clerkCode != null and clerkCode != ''">
				AND a.clerk_code LIKE
					<if test="dbName == 'oracle'">'%'||#{clerkCode}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{clerkCode}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{clerkCode},'%')</if>
			</if>
			<if test="clerkName != null and clerkName != ''">
				AND a.clerk_name LIKE
					<if test="dbName == 'oracle'">'%'||#{clerkName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{clerkName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{clerkName},'%')</if>
			</if>
			<if test="orgId != null and orgId != ''">
				AND a.org_id = #{orgId}
			</if>
			<if test="codeAndName != null and codeAndName != ''">
				AND (1 = 2
				OR a.clerk_code like concat('%',#{codeAndName},'%')
				OR a.clerk_name like concat('%',#{codeAndName},'%')
				)
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
</mapper>