<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyou.modules.oms.basic.mapper.OmItemBarcodeMapper">
    
	<sql id="omItemBarcodeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.line_no AS "lineNo",
		a.barcode AS "barcode",
		a.is_default AS "isDefault",
		a.item_id AS "itemId",
		a.org_id AS "orgId"
	</sql>
	
	<sql id="omItemBarcodeJoins">
		LEFT JOIN om_item b ON b.id = a.item_id
	</sql>

    <select id="get" resultType="OmItemBarcode" >
		SELECT 
			<include refid="omItemBarcodeColumns"/>
		FROM om_item_barcode a
		<include refid="omItemBarcodeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="OmItemBarcode" >
		SELECT 
			<include refid="omItemBarcodeColumns"/>
		FROM om_item_barcode a
		<include refid="omItemBarcodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="itemId != null and itemId != ''">
				AND a.item_id = #{itemId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OmItemBarcode" >
		SELECT 
			<include refid="omItemBarcodeColumns"/>
		FROM om_item_barcode a
		<include refid="omItemBarcodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO om_item_barcode(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			line_no,
			barcode,
			is_default,
			item_id,
			org_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{lineNo},
			#{barcode},
			#{isDefault},
			#{itemId},
			#{orgId}
		)
	</insert>
    <insert id="batchInsert">
		INSERT INTO om_item_barcode
		(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			line_no,
			barcode,
			is_default,
			item_id,
			org_id
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," close=";">
		(
			#{item.id},
			#{item.createBy.id},
			#{item.createDate},
			#{item.updateBy.id},
			#{item.updateDate},
			#{item.remarks},
			#{item.delFlag},
			#{item.lineNo},
			#{item.barcode},
			#{item.isDefault},
			#{item.itemId},
			#{item.orgId}
		)
		</foreach>
	</insert>

    <update id="update">
		UPDATE om_item_barcode
		SET update_by   = #{updateBy.id},
			update_date = #{updateDate},
			remarks     = #{remarks},
			line_no     = #{lineNo},
			barcode     = #{barcode},
			is_default  = #{isDefault},
			item_id     = #{itemId},
			org_id      = #{orgId}
		WHERE id = #{id}
	</update>
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM om_item_barcode
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE item_id = #{itemId}
			</otherwise>
		</choose>
	</delete>
	<delete id="remove">
		DELETE oib
		FROM om_item_barcode oib
			INNER JOIN om_item oi ON oi.id = oib.item_id
		WHERE oi.owner_code = #{ownerCode}
		  AND oi.sku_code = #{skuCode}
		  AND oi.org_id = #{orgId}
	</delete>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE om_item_barcode SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE item_id = #{itemId}
			</otherwise>
		</choose>
	</update>
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OmItemBarcode" statementType="STATEMENT">
		select * FROM om_item_barcode  where ${propertyName} = '${value}'
	</select>
	
</mapper>